<div class="pad-helper hidden-xs"></div>

<div class="row dash-bar">
  <div class="col-md-12">
    <div class="wrap clearfix">
      <div class="row">
        <div class="col-xs-8">
          <div class="dash-wrap" ng-if="vm.views.length > 1">
              <div class="vis-type" ng-repeat="view in vm.views">
                <a ui-sref="{{view.id}}" class="{{view.class}} btn">
                  {{view.name}}
                </a>
              </div>
          </div>
        </div>
        <div class="col-xs-4 social text-right">
            
          <span 
            class="download-button fa-stack fa-lg hidden-xs" 
            ng-if="vm.currentPage == 'activity' || vm.currentPage == 'activities'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-download fa-stack-1x fa-inverse"></i>
              <div class="download-wrap">
                  <a ng-click="vm.download('csv')">
                      Download CSV
                      <span class="download-button">
                          <i class="fa fa-download"></i>
                      </span>
                  </a>
                  <a ng-click="vm.download('xml')">
                      Download XML
                      <span class="download-button">
                          <i class="fa fa-download"></i>
                      </span>
                  </a>
                  <a ng-click="vm.download('json')">
                      Download JSON
                      <span class="download-button">
                          <i class="fa fa-download"></i>
                      </span>
                  </a>
              </div>
          </span>

          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
          </span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
          </span>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="filters-fixed">
  <div class="container">
    <div class="row actions">

      <div class="col-md-12 filters">

        <div class="wrap">

          <span 
              class="filter country-filter" 
              ng-click="vm.toggleOpenPanel('recipient_countries')" 
              ng-class="{'active': vm.isOpenedHeader('recipient_countries')}"
              ng-mouseover="vm.hoverIn('recipient_countries')" 
              ng-mouseleave="vm.hoverOut('recipient_countries')"
              ng-show="vm.isIncludedFilter('recipient_countries')">
            <i class="fa fa-chevron-down"></i>
            <span>Countries</span>
          </span>

          <span 
              class="filter region-filter" 
              ng-click="vm.toggleOpenPanel('recipient_regions')" 
              ng-class="{'active': vm.isOpenedHeader('recipient_regions')}"
              ng-mouseover="vm.hoverIn('recipient_regions')" 
              ng-mouseleave="vm.hoverOut('recipient_regions')"
              ng-show="vm.isIncludedFilter('recipient_regions')">
            <i class="fa fa-chevron-down"></i>
            <span>Regions</span>
          </span>
          <span 
              class="filter" 
              ng-click="vm.toggleOpenPanel('budget')" 
              ng-class="{'active': vm.isOpenedHeader('budget')}"
              ng-mouseover="vm.hoverIn('recipient_budget')" 
              ng-mouseleave="vm.hoverOut('recipient_budget')"
              ng-show="vm.isIncludedFilter('recipient_budget')">
            <i class="fa fa-chevron-down"></i>
            <span>Budget</span>
          </span>
          <span 
              class="filter sector-filter" 
              ng-click="vm.toggleOpenPanel('sectors')" 
              ng-class="{'active': vm.isOpenedHeader('sectors')}"
              ng-mouseover="vm.hoverIn('recipient_sectors')" 
              ng-mouseleave="vm.hoverOut('recipient_sectors')"
              ng-show="vm.isIncludedFilter('recipient_sectors')">
            <i class="fa fa-chevron-down"></i>
            <span>Sectors</span>
          </span>
          <span 
              class="filter" 
              ng-click="vm.toggleOpenPanel('activity_status')" 
              ng-class="{'active': vm.isOpenedHeader('activity_status')}"
              ng-mouseover="vm.hoverIn('recipient_activity_status')" 
              ng-mouseleave="vm.hoverOut('recipient_activity_status')"
              ng-show="vm.isIncludedFilter('recipient_activity_status')">
            <i class="fa fa-chevron-down"></i>
            <span>Activity status</span>
          </span>
      
          <span
              class="filter"
              ng-click="vm.toggleOpenPanel('transaction_year')" 
              ng-class="{'active': vm.isOpenedHeader('transaction_year')}"
              ng-mouseover="vm.hoverIn('transaction_year')" 
              ng-mouseleave="vm.hoverOut('transaction_year')"
              ng-show="vm.isIncludedFilter('transaction_year')">
            <i class="fa fa-chevron-down"></i>
            <span>Transaction year</span>
          </span>

          <span
              class="filter organisation-filter"
              ng-click="vm.toggleOpenPanel('recipient_implementing_organisations')" 
              ng-class="{'active': vm.isOpenedHeader('recipient_implementing_organisations')}"
              ng-mouseover="vm.hoverIn('recipient_implementing_organisations')" 
              ng-mouseleave="vm.hoverOut('recipient_implementing_organisations')"
              ng-show="vm.isIncludedFilter('recipient_implementing_organisations')">
            <i class="fa fa-chevron-down"></i>
            <span>Implementing organisations</span>
          </span>

<!--           <span 
              class="filter" 
              ng-click="vm.toggleOpenPanel('search')" 
              ng-class="{'active': vm.isOpenedHeader('search')}"
              ng-mouseover="vm.hoverIn('search')" 
              ng-mouseleave="vm.hoverOut('search')"
              ng-show="vm.isIncludedFilter('search')">
            <i class="fa fa-chevron-down"></i>
            Search
          </span> -->

          <span
            class="filter reset"
            ng-mouseover="vm.hoverIn('reset')" 
            ng-mouseleave="vm.hoverOut('reset')">
            <a ng-click="vm.resetFilters()">
              <!-- <i class="fa fa-refresh fa-inverse"></i>  -->
              <span>Reset filters</span>
            </a>
          </span>

        </div>

        <tool-bar></tool-bar>

        <div class="row negative">
            <div class="col-xs-12">
                <div class="rel">
                    <filter-panel-recipient-countries ng-show="vm.isOpenedHeader('recipient_countries')"></filter-panel-recipient-countries>
                    <filter-panel-recipient-regions ng-show="vm.isOpenedHeader('recipient_regions')"></filter-panel-recipient-regions>
                    <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
                    <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
                    <filter-panel-transaction-year ng-show="vm.isOpenedHeader('transaction_year')"></filter-panel-transaction-year>
                    <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('recipient_implementing_organisations')"></filter-panel-implementing-organisations>
                    <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
                    <filter-panel-search ng-show="vm.isOpenedHeader('search')"></filter-panel-search>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- transparent filter panel background for hide on click -->
<div 
  ng-hide="vm.isOpenedHeader('')" 
  ng-click="vm.saveFilters()" 
  id="filter-panel-background">
</div>