<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12">

    <div ncy-breadcrumb></div>

      <div id="main-visualisation-wrapper" class="white-background">

        <tool-bar></tool-bar>

        <h1>{{vm.country.name}}</h1>
        
        <table class="table">
        	<tbody>
        		<tr>
        			<td>Total projects</td>
        			<td>{{vm.country.aggregations.count}}</td>
        		</tr>
        		<tr>
        			<td>Totale uitgaven</td>
        			<td>{{vm.country.aggregations.disbursement | currency :'€':0 }}</td>
        		</tr>
        		<tr>
        			<td>Totale verplichting</td>
        			<td>{{vm.country.aggregations.commitment | currency :'€':0}}</td>
        		</tr>
        	</tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <td>project omschrijving</td>
                    <td>sector</td>
                    <td>start datum</td>
                    <td>eind datum</td>
                    <td>laatste update</td>
                </tr>

            </thead>
            <tbody>
                <tr ui-sref="land({ country_id: item.code })" dir-paginate="item in vm.countryActivities | itemsPerPage: 10"  pagination-id="countryActivities">
                    <td>{{item.titles[0].title}}</td>
               
                    <td>{{item.sectors[0].name}}</td>
               
                    <td>{{item.start_actual}}</td>
                    <td>{{item.end_actual}}</td>
                    <td>{{item.last_updated_datetime}}</td>




                </tr>
            </tbody>
        </table>
        <div class="col-md-12" ng-show="vm.countryActivities.length != 0"> 
            <dir-pagination-controls pagination-id="countryActivities"></dir-pagination-controls>
        </div>



      </div>
    
    </div>
  </div>
</div>

