<div class="row">
    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-xs-6">
                    <span class="result-count">Results <span class="badge"> {{vm.totalCountries}} </span></span>
                    <social></social>
                </div>
                <div class="col-xs-6 text-right">
                    <select
                        ng-model="vm.order_by"
                        ng-change="vm.toggleOrder()">
                        <option value="recipient_country">Name (A - Z)</option>
                        <option value="-recipient_country">Name (Z - A)</option>
                        <option value="disbursement">Disbursement (increasing)</option>
                        <option value="-disbursement">Disbursement (decreasing)</option>
                        <option value="activity_count,disbursement">Total projects (increasing)</option>
                        <option value="-activity_count,-disbursement">Total projects (decreasing)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div ng-if='vm.loading == true' class="col-sm-12">
        <div class="hp-block wit">
            <h3 class="loader"><img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="25"> Fetching data, please wait...</h3>
        </div>
    </div>

    <div ng-if='vm.totalCountries == 0 && vm.loading == false' class="col-sm-12">
        <div class="hp-block wit">
            <h2>Nothing found</h2>
            <p ng-if="vm.searchPage == false">Please select some different filters.</p>
            <p ng-if="vm.searchPage == true">Please try some different keywords.</p>
        </div>
    </div>

    <div class="col-md-12" infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' ng-if='vm.totalCountries != 0'>
        <div class="sort headers hidden-xs">
            <div class="row">
                <div class="col-sm-6">
                    <small>Country</small>
                </div>
                <div class="col-sm-3">
                    <small>Total disbursement</small>
                </div>
                <div class="col-sm-3">
                    <small>Total projects</small>
                </div>
            </div>
        </div>
        <div class="activity-list-item" 
            ng-show="vm.countries.length != 0"
            ng-repeat="item in vm.countries">
            <div class="hp-block wit">
                <div class="row countries">
                    <div class="col-sm-6">
                        <h3 class="no-margin">
                            <a ui-sref="country({ country_id: item.recipient_country.code })">
                                <span class="flag-icon flag-icon-{{item.recipient_country.code | lowercase }} "></span>
                                {{item.recipient_country.name}}
                            </a>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="no-margin">{{item.disbursement  | shortcurrency :'€'}} <span class="visible-xs-inline">disbursement</span></h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="no-margin">{{item.activity_count}} <span class="visible-xs-inline">projects</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if='vm.busy == true && vm.loading == false' class="col-sm-12">
        <div class="hp-block wit">
            <h3 class="loader"><img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="25"> Fetching more data, please wait...</h3>
        </div>
    </div>

</div>