<div class="row">
    <div class="col-md-12" ng-show="vm.activities.length == 0">
        <div class="svg-loader">
            <img src="{{templateBaseUrl}}/images/spinning-circles.svg" width="70" alt="">
        </div>
    </div>
    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-xs-4">
                    resultaten {{vm.offset + 1}} - {{vm.maxShown()}} van {{vm.totalActivities}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
    
        <div class="activity-list-item" 
            ng-show="vm.activities.length != 0"
            dir-paginate="item in vm.countries | itemsPerPage: 5"  
            pagination-id="countryList">
            <div class="hp-block wit">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="flag-icon flag-icon-{{item.country_id | lowercase }} big"></span>
                        <h3><a ui-sref="country({ country_id: item.country_id })">{{ item.name }}</a></h3>
                    </div>
                    <div class="col-sm-4">
                        {{item.total_disbursements  | currency :'€':0}}
                    </div>
                    <div class="col-sm-4">
                        <a>XX projecten</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 text-center pag">
        <dir-pagination-controls 
        pagination-id="countryList" 
        on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>