<div id="main-content" class="container">

    <detail-topbar></detail-topbar>

    <div class="row">
        <div class="col-md-12">
            <div class="rel">
                <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
                <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
                <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
                <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('implementing_organisations')"></filter-panel-implementing-organisations>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <span class="flag-icon flag-icon-{{vm.country.code | lowercase }} big"></span><h1 class="title">{{vm.country.name}}</h1> 
                <p>Land beschrijving</p> 
            </div>
        </div>
    </div>
    {{vm.selectedTab}}
    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>


    <div ng-show="vm.selectedTab == 'samenvatting'">


        <leaflet 
            defaults="vm.defaults" 
            center="vm.center" 
            markers="vm.markers" 
            height="400px" 
            width="100%">
        </leaflet>

        <div class="row">

            <!-- start linker kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p><b>IATI identifier</b><br>Niet beschikbaar</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p><b>Laatste update</b><br>Niet beschikbaar</p>
                            <p><b>Startdatum</b><br>Niet beschikbaar</p>
                            <p><b>Einddatum</b><br>Niet beschikbaar</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p>
                                <b>Uitgaven per jaar</b><br>
                                Niet beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                            <p>
                                <b>Budgetten per jaar</b><br>
                                Niet beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                            <p>
                                <b>Verplichtingen per jaar</b><br>
                                Niet beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p><b>Land</b><br>Niet beschikbaar</p>
                            <p><b>Regio</b><br>Niet beschikbaar</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>
            <!-- eind linker kolom -->

            <!-- start rechter kolom -->
            <div class="col-md-8">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <h3>Transacties</h3>
                            CHART
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <h3>Documenten</h3>
                            DOCS
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>

            <!-- eind recher kolom -->
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <sector-list></sector-list>
    </div>

</div>


