<div id="main-content" class="container">
    <filter-bar current-page="countries"></filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div id="sector-sunburst" class="hp-block spec clearfix">
                <div class="countries-vis-wrapper" style="width: 90%; margin: 0 auto;">
                    <div class="row">
                        <div class="col-md-12 sector-vis-text">
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

                            <div class="checkbox">
                                <label class="switch">
                                    <input type="checkbox" checklist-value="item" ng-model="checked3" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                                    <span class="ng-binding">Directe uitgaven</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="switch">
                                    <input type="checkbox" checklist-value="item" ng-model="checked2" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                                    <span class="ng-binding">Indirecte uitgaven</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sector-vis-header">
                                 Uitgaven ontwikkelingssamenwerking Buitenlandse Zaken 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="locaties-visualisation">
                                <!-- <geo-visualisation 
                                    refresh-visualisation="vm.refreshVisualisation" 
                                    formatted-data="vm.visualisationData">
                                </geo-visualisation> -->

                                <img src="{{vm.templateBaseUrl}}/images/locaties-preview.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
