<div id="main-content" class="container">
    <filter-bar current-page="countries"></filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div class="spec clearfix">
                <div class="countries-vis-wrapper" style="width: 70%; margin: 0 auto;">
                    <h1 class="text-center">Uitgaven ontwikkelingssamenwerking Buitenlandse Zaken</h1>
                    <hr>
                    <p class="description text-center">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    </p>
                    <hr>                    
                </div>
                    
                <div class="locaties-visualisation">

                    <div class="checkbox">
                        <label class="switch">
                            <input type="checkbox" checklist-value="item" ng-model="checked3" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                            <span class="ng-binding">Directe uitgaven</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="switch">
                            <input type="checkbox" checklist-value="item" ng-model="checked2" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                            <span class="ng-binding">Indirecte uitgaven</span>
                        </label>
                    </div>

                    <geo-visualisation 
                        refresh-visualisation="vm.refreshVisualisation" 
                        formatted-data="vm.visualisationData">
                    </geo-visualisation>

                    <!-- <img src="{{vm.templateBaseUrl}}/images/locaties-preview.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>
