<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12">
      
        <div class="row">
            <div class="col-md-4">
              <div class="explore-block-header">Uitgaven per land</div>
              <div class="explore-block-content">
                   <bubble-chart 
                    endpoint="countries" 
                    group-by="recipient-country"
                    aggregation-key="disbursement" 
                    time-slider="false" 
                    source-url=""
                    reformat-data="true"
                    box-width="350" 
                    box-height="300"
                    min-range="0"
                    max-range="30"
                    watch-source-url="true"
                    >
                    </bubble-chart>
              </div>
                 
            </div>
            <div class="col-md-4">
              <div class="explore-block-header">Uitgaven per landprofiel</div>
              <div class="explore-block-content">
                   <bubble-chart 
                    endpoint="countries" 
                    group-by="recipient-country"
                    aggregation-key="disbursement" 
                    time-slider="false" 
                    source-url=""
                    reformat-data="true"
                    box-width="350" 
                    box-height="300"
                    min-range="0"
                    max-range="30"
                    watch-source-url="true"
                    >
                    </bubble-chart>
              </div>
                 
            </div>
            <div class="col-md-4">
              <div class="explore-block-header">activiteiten per land</div>
              <div class="explore-block-content">
                   <bubble-chart 
                    endpoint="countries" 
                    group-by="recipient-country"
                    aggregation-key="iati-identifier" 
                    time-slider="false" 
                    source-url=""
                    reformat-data="true"
                    box-width="350" 
                    box-height="300"
                    min-range="0"
                    max-range="20"
                    watch-source-url="true"
                    >
                    </bubble-chart>
              </div>
                 
            </div>
        </div>
    </div>
  </div>

  <div id="main-grouped-page-wrapper" class="white-background">

    <div class="row">
      <div class="col-md-6 no-padding-right">
        <countries-list-directive></countries-list-directive>
      </div>
      <div class="col-md-6 no-padding-left">
        <countries-map></countries-map>
      </div>
    </div>
  </div>

</div>

