<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12">
      
        <div class="row">
            <div class="col-md-4">
                <p class="main-placeholder">uitgave per land vis</p>
            </div>
            <div class="col-md-4">
                <p class="main-placeholder">uitgave per landenprofiel vis</p>
            </div>
            <div class="col-md-4">
                <p class="main-placeholder">Activiteiten per land vis</p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-6">

      <div id="main-visualisation-wrapper" class="white-background">

        <tool-bar></tool-bar>

        <countries-list-directive></countries-list-directive>
      </div>
    
    </div>
    <div class="col-md-6">
    	<p class="main-placeholder">Landkaart met activiteiten</p>
    </div>
  </div>
</div>

