<div id="main-content" class="container">

    <filter-bar 
        views="[]"
        current-page="themas"
        class="country-page"></filter-bar>

    <div class="row">
        <div class="col-md-12">
            <span class="flag-icon flag-icon-{{vm.country.code | lowercase }} big"></span><h1 class="title">{{vm.country.name}}</h1> 
        </div>
    </div>
    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>


    <div ng-show="vm.selectedTab == 'samenvatting'">

        <div class="row">
            <div class="col-md-6 collapsed-right">
                <temp-locations-geo-map exact-location="vm.country" map-height="409px"></temp-locations-geo-map>
            </div>
            <div class="col-md-6 collapsed-left">
                <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                    <h3>Transactions</h3>
                    <financials-line-chart has-to-contain="countries__in"></financials-line-chart>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- start linker kolom -->
            <div class="col-md-4 activity-list-item">

                <!-- <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Indirect Disbursements</b><br>{{vm.indirectDisbursements | shortcurrency: '€'}}</p>
                        </div>
                    </div>
                </div> -->

                <div class="hp-block wit financial">
                    <h3>Expenditure per year</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="disbursement in vm.disbursements_by_year">
                                <td>{{disbursement.transaction_date_year}}</td>
                                <td>{{disbursement.total_disbursements | shortcurrency :'€'}}</td>
                            </tr>
                            <tr class="total-calc">
                                <td>Total</td>
                                <td>{{vm.disbursements_total | shortcurrency :'€'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4 activity-list-item">
                <div class="hp-block wit financial">
                    <h3>Budget per year</h3>
                    <table class="table table-striped" ng-if="budget_by_year.budget__period_start_year != 0" >
                        <tbody>
                            <tr ng-repeat="budget in vm.budget_by_year">
                                <td>{{budget.budget__period_start_year}}</td>
                                <td>{{budget.budget__value | shortcurrency :'€'}}</td>
                            </tr>
                            <tr class="total-calc">
                                <td>Total</td>
                                <td>{{vm.budget_total | shortcurrency :'€'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4 activity-list-item">
                <div class="hp-block wit financial">
                    <h3>Commitment per year</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="commitment in vm.commitments_by_year">
                                <td>{{commitment.transaction_date_year}}</td>
                                <td>{{commitment.total_commitments | shortcurrency :'€'}}</td>
                            </tr>
                            <tr class="total-calc">
                                <td>Total</td>
                                <td>{{vm.commitments_total | shortcurrency :'€'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list 
            has-to-contain="countries__in" 
            count="vm.tabs[1].count"
            shown="vm.selectedTab == 'activities'"></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <sector-list 
            has-to-contain="countries__in" 
            count="vm.tabs[2].count"
            shown="vm.selectedTab == 'sectors'"></sector-list>
    </div>

    <div ng-show="vm.selectedTab == 'implementing-organisations'">
        <implementing-organisations-list 
            has-to-contain="countries__in"
            count="vm.tabs[3].count"
            shown="vm.selectedTab == 'implementing-organisations'"></implementing-organisations-list>
    </div>

</div>


