<div id="main-content" class="container">

    <detail-filter-bar></detail-filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <span class="flag-icon flag-icon-{{vm.country.code | lowercase }} big"></span><h1 class="title">{{vm.country.name}}</h1> 
            </div>
        </div>
    </div>
    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>


    <div ng-show="vm.selectedTab == 'samenvatting'">

        <locations-geo-map></locations-geo-map>

        <div class="row">

            <!-- start linker kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p>
                                <b>Uitgaven per jaar</b><br>
                                Geen data beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                            <p>
                                <b>Budgetten per jaar</b><br>
                                Geen data beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                            <p>
                                <b>Verplichtingen per jaar</b><br>
                                Geen data beschikbaar<br>
                                Bla<br>
                                Bla
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
           
            </div>
            <!-- eind linker kolom -->

            <!-- start rechter kolom -->
            <div class="col-md-8">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <h3>Transacties</h3>
                            CHART
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>

            <!-- eind recher kolom -->
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list 
            has-to-contain="countries__in" 
            count="vm.tabs[1].count"></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <sector-list 
            has-to-contain="countries__in" 
            count="vm.tabs[2].count"></sector-list>
    </div>

    <div ng-show="vm.selectedTab == 'implementing-organisations'">
        <implementing-organisations-list 
            has-to-contain="countries__in"
            count="vm.tabs[3].count"></implementing-organisations-list>
    </div>

</div>


