<div id="main-content" class="container">

    <filter-bar 
        views="[]"
        current-page="themas"
        class="organisation-page"></filter-bar>
        
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">{{vm.organisation.name}}</h1>
        </div>
    </div>

    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>

    <div class="row" ng-show="vm.selectedTab == 'samenvatting'">

        <div class="col-md-12">

            <div class="hp-block wit">
                <h3>Transactions for organisation identifier {{vm.organisation.original_ref}}</h3>
                <financials-line-chart 
                    has-to-contain="receiver_organisation_primary_name">
                </financials-line-chart>
            </div>

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit financial">
                        <h3>Disbursement per year</h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="disbursement in vm.disbursements_by_year">
                                    <td>{{disbursement.transaction_date_year}}</td>
                                    <td>{{disbursement.disbursement | shortcurrency :'€'}}</td>
                                </tr>
                                <tr class="total-calc">
                                    <td>Total</td>
                                    <td>{{vm.disbursements_total | shortcurrency :'€'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 activity-list-item">
            <div class="hp-block wit financial">
                <h3>Budget per year</h3>
                <table class="table table-striped" ng-if="budget_by_year.budget__period_start_year != 0" >
                    <tbody>
                        <tr ng-repeat="budget in vm.budget_by_year">
                            <td>{{budget.budget_year}}</td>
                            <td>{{budget.budget | shortcurrency :'€'}}</td>
                        </tr>
                        <tr class="total-calc">
                            <td>Total</td>
                            <td>{{vm.budget_total | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4 activity-list-item">
            <div class="hp-block wit financial">
                <h3>Commitment per year</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="commitment in vm.commitments_by_year">
                            <td>{{commitment.transaction_date_year}}</td>
                            <td>{{commitment.commitment | shortcurrency :'€'}}</td>
                        </tr>
                        <tr class="total-calc">
                            <td>Total</td>
                            <td>{{vm.commitments_total | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <!-- einde samenvatting -->

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list 
            has-to-contain='receiver_organisation_primary_name' 
            count='vm.tabs[1].count'
            shown="vm.selectedTab == 'activities'"></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <sector-list 
            has-to-contain='receiver_organisation_primary_name' 
            count='vm.tabs[2].count'
            shown="vm.selectedTab == 'sectors'"></sector-list>
    </div>

    <div ng-show="vm.selectedTab == 'countries'">
        <country-list 
            has-to-contain='receiver_organisation_primary_name' 
            count='vm.tabs[3].count'
            shown="vm.selectedTab == 'countries'"></country-list>
    </div>
    <div ng-show="vm.selectedTab == 'regions'">
        <region-list 
            has-to-contain='receiver_organisation_primary_name' 
            count='vm.tabs[4].count'
            shown="vm.selectedTab == 'regions'"></region-list>
    </div>


</div>


