<div id="main-content" class="container about-page">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="hp-block hp-block-top hp-home">
        <div class="row">
          <div
            class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3"
          >
            <h1>Contact us</h1>
            <p>
              Do you have a question or a comment? Do not hesitate to contact us
              by sending us a message on
              <a hreflang="mailto:contact@zimmerman.team"
                >contact@zimmerman.team</a
              >. We aim to respond within in five working days.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
