<div id="main-content" class="container about-page">

	<div class="row">
        <div class="col-sm-12 ">
            <div class="hp-block hp-block-top hp-home">
            	<div class="row">
            		<div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
		                <h1>Insight into development aid<small>open data of the Dutch government</small></h1>
		                <p>Via this portal you'll find every official development aid project financed by the Dutch government and reported as open data to the IATI registry.</p>
	                </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-lg-8 col-md-10 col-md-offset-1 col-lg-offset-2">

<!-- 		    <hr>
 -->
			<div class="row actions">
		    	<div class="col-sm-12 social">
		    		<span class="fa-stack fa-lg">
				    	<i class="fa fa-circle fa-stack-2x"></i>
				    	<a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
				    </span>
				    <span class="fa-stack fa-lg">
				    	<i class="fa fa-circle fa-stack-2x"></i>
				    	<a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
				    </span>
				    <span class="fa-stack fa-lg">
				    	<i class="fa fa-circle fa-stack-2x"></i>
				   		<a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
				   	</span>
			   	</div>
		   	</div>

		   	<hr>

			<p class="intro">In September 2011 the Dutch Ministry of Foreign Affairs started publishing data on all the development aid projects it finances. The data is published in the international <a href="http://www.iatistandard.org" target="_blank">IATI standard</a> which is easy for computers to read, but very hard for humans. On openaid.nl this information is made accessible through a web interface.</p>

			<p><a href="http://www.zimmermanzimmerman.nl" target="_blank">Zimmerman &amp; Zimmerman</a> is a dutch open-data visualisation company based in Amsterdam that develops opensource IATI tools, such as transparency portals for <a target="_blank" href="http://opendata.unesco.org">open UNESCO</a>, <a target="_blank" href="http://open.unhabitat.org">open UN-Habitat</a> and the <a target="_blank" href="http://urbandata.unhabitat.org">Urban data portal</a> for UN-Habitat. All these tools run on an Open IATI Parser and API called <a target="_blank" href="http://www.oipa.nl">OIPA</a>, which was developed by Zimmerman &amp; Zimmerman. They where responsible for developing the concept, the design and the technical development of openaidNL.</p>

			<h4>What data can I find on openaidNL?</h4>
			<p>This platform extracts the raw IATI data published by the Dutch Ministry of Foreign Affairs from the IATI registry, and presents it in an easy-to-use web interface. It does not alter or interpret the data in any way.</p>

			<h4>Why is open data important?</h4>
			<p>Transparency of development aid enhances the effectiveness and quality of development aid. Governments of developing countries are able to plan better when they have access to accurate and up-to-date information about aid flows into their countries. Citizens in developing countries can hold their governments accountable for the spending of aid. The Dutch public gets a better picture of how public  money is spent.</p>

			<p>The value of open data is greatly increased if it can be compared and added up internationally. The International Aid Transparancy Initiative (IATI) aims to do just that – to develop an international standard for the publication of aid data.</p>
			
			
			<p>Openaid.nl was iniated by <a target="_blank" href="http://www.akvo.org">Akvo.org</a> back in 2011 and commissioned Zimmerman & Zimmerman to build and maintain the the OIPA codebase</p>
			
			
		</div>
	</div>
</div>
