<div id="main-content" class="container about-page">

    <div class="row">
        <div class="col-sm-12 ">
            <div class="hp-block hp-block-top hp-home">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                        <h1>Insight into development aid<small>open data of the Dutch government</small></h1>
                        <p>Via this transparency portal you'll find every official development aid project supported by the Dutch government and reported as open data to the IATI registry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 col-md-offset-1 col-lg-offset-2">

<!--            <hr>
 -->
            <div class="row actions">
                <div class="col-sm-12 social">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
                    </span>
                </div>
            </div>

            <hr>

            <h4>What data can I find on openaidNL?</h4>
            <p>This platform extracts the raw IATI data published by the Dutch Ministry of Foreign Affairs from the <a href="http://www.iatiregistry.org" target="_blank">IATI registry</a>, and presents it in an easy-to-use web interface. It does not alter or interpret the data in any way.</p>

            <h4>Why is open data important?</h4>
            <p>
                Transparency of development aid enhances the effectiveness and quality of development aid. Governments of developing countries are able to plan better when they have access to accurate and up-to-date information about aid flows into their countries. Citizens in developing countries can hold their governments accountable for the spending of aid. The Dutch public gets a better picture of how public money is spent.

The value of open data is greatly increased if it can be compared and added up internationally. The <a href="http://www.iatistandard.org" target="_blank">International Aid Transparency Initiative (IATI)</a> aims to do just that – to develop an international standard for the publication of aid data.
            </p>

            <h4>The team behind openaid</h4>
            <p>Openaid was designed and developed by <a href="https://www.zimmermanzimmerman.nl" target="_blank">Zimmerman &amp; Zimmerman</a>; they are a Dutch open-data visualisation company based in Amsterdam. Together with the <a href="https://www.government.nl/ministries/ministry-of-foreign-affairs" target="_blank">Dutch Ministry of Foreign Affairs</a> they work together in a PPP (Public Private Partnership) project on further developing and improving the Dutch IATI transparency portal openaid.
<br>&nbsp;<br>
Zimmerman &amp; Zimmerman has become a well-known Dutch IATI specialist; they work together with partners like <a target="_blank" href="http://opendata.unesco.org">UNESCO</a>, <a target="_blank" href="http://open.unhabitat.org">UN-Habitat</a>,  <a target="_blank" href="http://english.rvo.nl">The Netherlands Enterprise Agency (RVO.nl)</a>, <a href="http://devtracker.dfid.gov.uk/" target="_blank">The Department for International Development (DFID)</a> in further developing their transparency portals.

All these transparency portals run on an Open IATI Parser and API called <a href="http://www.oipa.nl" target="_blank">OIPA</a>, which was developed by Zimmerman &amp; Zimmerman.
</p>

            <h4>IATI Studio</h4>
            <p>Currently Zimmerman &amp; Zimmerman is developing IATI Studio, an online data management toolkit that supports NGO's, IATI publishers, governments and other organisations using IATI data to visualize, analyse and publish IATI data. A free beta version of IATI Studio will become available in March 2016. More information about IATI Studio can be found on <a href="https://www.iatistudio.com" target="_blank">iatistudio.com</a></p>

            <h4>Openaid History</h4>
            <p>In September 2011 the Dutch Ministry of Foreign Affairs started publishing IATI data on all the development aid projects it supports. The data is published to the international IATI standard. On openaid.nl this IATI data is made accessible through an easy to use web-interface. <a target="_blank" href="http://www.akvo.org">Akvo.org</a> initiated Openaid.nl back in 2011 and commissioned Zimmerman &amp; Zimmerman to design, develop and maintain the OIPA codebase.</p>
            
        </div>
    </div>
</div>
