<div id="main-content" class="container">
	<div class="row">
		<div class="col-md-12">
			<div ncy-breadcrumb></div>
		</div>
		<div class="col-md-12">
			<div id="main-visualisation-wrapper" class="hp-block white">
				<div class="row">
					<div class="col-lg-6 col-md-8 col-md-offset-2 col-lg-offset-3">
						<h1>About openaidNL</h1>

						<p class="intro">In September 2011 the Dutch Ministry of Foreign Affairs started publishing data on all the development aid projects it finances. The data is published in the international IATI standard which is easy for computers to read, but very hard for humans. On openaid.nl the information is made accessible through a web interface.</p>

						<p>Openaid.nl is an initiative of Akvo.org, a Dutch non-profit organisation dedicated to developing internet and mobile tools that make aid more efficient and transparent.</p>

						<p>Zimmerman & Zimmerman is a dutch design and consultancy firm that develops online concepts. They where responsible for developing the concept, the design and the technical development of openaidsearch.org.</p>

						<h4>What data can I find on openaidsearch?</h4>
						<p>This platform extracts all the raw IATI data published by the organisations publishing IATI from the IATI registry, and presents it on the platform by providing an easy-to-use web interface. It does not alter or interpret the data in any way.</p>

						<h4>Why is open data important?</h4>
						<p>Transparency of development aid enhances the effectiveness and quality of development aid. Governments of developing countries are able to plan better when they have access to accurate and up-to-date information about aid flows into their countries. Citizens in developing countries can hold their governments accountable for the spending of aid. The Dutch public gets a better picture of how public  money is spent.</p>

						<p>The value of open data is greatly increased if it can be compared and added up internationally. The International Aid Transparancy Initiative (IATI) aims to do just that – to develop an international standard for the publication of aid data.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

