<div id="main-content" class="container">

    <filter-bar 
        current-page="regions-vis"
        views="[{'id':'regions-vis', 'name': 'Visualisation', 'class':'active'}, {'id':'regions-list', 'name': 'List'}]"></filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div class="spec clearfix">              
                <div class="locaties-visualisation">
                    <geo-visualisation 
                        refresh-visualisation="vm.refreshVisualisation" 
                        formatted-data="vm.visualisationData">
                    </geo-visualisation>
                </div>
            </div>
        </div>
    </div>
</div>
