<div id="main-content" class="container">

    <filter-bar 
        current-page="regions-vis"
        views="[{'id':'regions-vis', 'name': 'Visualisation view', 'class':'active'}, {'id':'regions-list', 'name': 'List view'}]"
        class="region-page"></filter-bar>

    <!-- <div class="row">
        <div class="col-md-12">
            <div class="hp-block white info-box">
                <h4>Direct and indirect expenditures</h4>
                <p>Explanation here...</p>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <div class="sort transparenter">
                <span class="result-count">Results <span class="badge">{{vm.totalRegions}}</span></span>
                <social></social>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="spec clearfix">              
                <div class="locaties-visualisation">
                    <geo-visualisation 
                        refresh-visualisation="vm.refreshVisualisation" 
                        formatted-data="vm.visualisationData">
                    </geo-visualisation>
                </div>
            </div>
        </div>
    </div>
</div>
