<div class="filter-panel">
	<div class="row filter-panel-header-wrapper">
		<div class="col-md-4">
			<div class="search-box">
			    <div class="form-group">
			        <input ng-model="vm.q" class="form-control" placeholder="Search by country name..">
			        <button class="btn-search" type="button">
			            <span class="glyphicon glyphicon-search"></span>
			        </button>
		        </div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="vm.loading">
		<div class="svg-loader">
			There are no regions found within your current selection. 
		</div>
	</div>
	<div class="row" ng-show="!vm.loading">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<td class="th-first">Select one or more countries</td>
						<td>Projects<span class="glyphicon glyphicon-resize-vertical"></span></td>
					</tr>
				</thead>
				<tbody>

				    <tr 
				    	dir-paginate="item in vm.recipientCountries | itemsPerPage: 4" 
				    	total-items="vm.totalCount" 
				    	current-page="pagination.current"  
				    	pagination-id="recipientCountries">
				    	<td>
				    		<div class="checkbox">
					    		<label class="switch">
					    			<input type="checkbox" checklist-model="vm.selectedCountries" checklist-value="item"><i></i>
					    			<span>{{ item.name }}</span>
					    		</label>
					    	</div>
				    	</td>
				    	<td>
				    		{{ item.activity_count }}
				    	</td>
				    </tr>


				</tbody>
			</table>
		</div>
		<div class="col-md-12 text-center">
			<button class="btn btn-default btn-save btn-openaid" ng-click="vm.save()">Save</button>
			<dir-pagination-controls 
				pagination-id="recipientCountries" 
				on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
		</div>
	</div>
</div>