<div class="filter-panel">
	<div class="row filter-panel-header-wrapper">

		<div class="col-md-4">
			<div class="search-box">
			    <div class="form-group">
			        <input ng-model="q" class="form-control" placeholder="Zoek een specifieke organisatie ..">
			        <button class="btn-search" type="button">
			            <span class="glyphicon glyphicon-search"></span>
			        </button>
		        </div>
			</div>
		</div>

	</div>
	<div class="row" ng-show="vm.sectors.length == 0">
		<div class="svg-loader">
			<img src="{{templateBaseUrl}}/images/spinning-circles.svg" width="70" alt="">
		</div>
	</div>
	<div class="row" ng-show="vm.sectors.length != 0">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<td class="th-first">Select one or more sectors</td>
						<td>Projects<span class="glyphicon glyphicon-resize-vertical"></span></td>
					</tr>
				</thead>
				<tbody>

				    <tr dir-paginate="item in vm.sectors | filter:q | itemsPerPage: 4"  pagination-id="sectors">
				    	<td>
				    		<div class="checkbox">
					    		<label class="switch">
					    			<input type="checkbox" checklist-model="vm.selectedSectors" checklist-value="item"><i></i>
					    			<span>{{ item.name }}</span>
					    		</label>
					    	</div>
				    	</td>
				    	<td>
				    		{{ item.activity_count }}
				    	</td>
				    </tr>

				</tbody>
			</table>
		</div>
		<div class="col-md-12 text-center">
			<button class="btn btn-default btn-save btn-openaid" ng-click="vm.save()">Save</button>
			<dir-pagination-controls pagination-id="sectors"></dir-pagination-controls>
		</div>
	</div>
</div>