<div class="filter-panel budget">
	<div class="checkbox">
		<label class="switch">
			<input type="checkbox" ng-model="vm.on"><i></i>
			<span>Select transaction year</span>
		</label>
	</div>

    <div class="row">
        <div class="col-md-3">
        	<div class="custom-select ff-hack">

                <select ng-model="vm.transactionYear">
                    <option value='2015'>2015</option>
                    <option value='2014'>2014</option>
                    <option value='2013'>2013</option>
                    <option value='2012'>2012</option>
                    <option value='2011'>2011</option>
                    <option value='2010'>2010</option>
                    <option value='2009'>2009</option>
                    <option value='2008'>2008</option>
                    <option value='2007'>2007</option>
                    <option value='2006'>2006</option>
                    <option value='2005'>2005</option>
                    <option value='2004'>2004</option>
                    <option value='2003'>2003</option>
                    <option value='2002'>2002</option>
                    <option value='2002'>2001</option>
                </select>

            </div>
        </div>
    </div><br>
	<button class="btn btn-default btn-openaid btn-save" ng-click="vm.save()">Save</button>
</div>
