<div class="filter-header">
	<a href="javascript:void(0)" class="filter-link"></a>
	<span class="filter-header-text">Selected filters</span>
	<span class="filter-header-amount">{{(selectedCountries.length + selectedRegions.length + selectedSectors.length + selectedImplementingOrganisations.length)}}
	</span>
	<span class="filter-header glyphicon-chevron-right">
		
	</span>
</div>
<div class="filter-selected">
	<a class="btn filter-selected-button" ng-repeat="item in selectedCountries" ng-click="removeFilter(selectedCountries, item.code)">
		<span class="glyphicon glyphicon-remove"></span>
		{{item.name | cut:true:40:' ...' }}
	</a>

	<a class="btn filter-selected-button" ng-repeat="item in selectedRegions" ng-click="removeFilter(selectedRegions, item.code)">
		<span class="glyphicon glyphicon-remove"></span>
		{{item.name | cut:true:40:' ...' }}
	</a>

	<a class="btn filter-selected-button" ng-repeat="item in selectedSectors" ng-click="removeFilter(selectedSectors, item.code)">
		<span class="glyphicon glyphicon-remove"></span>
		{{item.name | cut:true:40:' ...' }}
	</a>

	<a class="btn filter-selected-button" ng-repeat="item in selectedImplementingOrganisations" ng-click="removeFilter(selectedImplementingOrganisations, item.code)">
		<span class="glyphicon glyphicon-remove"></span>
		{{item.name | cut:true:30:' ...' }}
	</a>
</div>