<!-- <div class="row">
  <div class="col-xs-4"> 
    <a 
      class="dashboard-button" 
      ng-click="vm.goToPage('')"
      ng-show="vm.isIncludedDashboard('charts')"> 
      Chart view
      <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
    </a>
  </div>
  <div class="col-xs-4">
    <a 
      class="dashboard-button" 
      ng-click="vm.goToPage('map')"
      ng-show="vm.isIncludedDashboard('map')">
      Map view
      <i class="ic ic-map fa-stack-1x fa-inverse"></i>
    </a>
  </div>
  <div class="col-xs-4">
    <a 
        class="dashboard-button" 
        ng-click="vm.goToPage('list')"
        ng-show="vm.isIncludedDashboard('list')">
      List view
      <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
    </a>
  </div>
</div> -->

<div class="row search">
  <div class="col-sm-12">
    <div class="hp-block groen hp-block-top hp-home no-padding">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <div class="search-box">
            <form ng-submit="vm.save()">
              <div class="form-group">
                <input type="text" placeholder="Filter op trefwoord...">
                <button class="btn-search" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="row actions">
    <div class="col-md-5 filters">
      Filters: 
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('recipient_countries')" 
            ng-class="{'active': vm.isOpenedHeader('recipient_countries')}"
            ng-mouseover="vm.hoverIn('recipient_countries')" 
            ng-mouseleave="vm.hoverOut('recipient_countries')"
            ng-show="vm.isIncludedFilter('recipient_countries')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_countries'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>

        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('recipient_regions')" 
            ng-class="{'active': vm.isOpenedHeader('recipient_regions')}"
            ng-mouseover="vm.hoverIn('recipient_regions')" 
            ng-mouseleave="vm.hoverOut('recipient_regions')"
            ng-show="vm.isIncludedFilter('recipient_regions')">
            <div 
                class="glyphicon-popup" 
                ng-show="vm.buttonTexts['recipient_regions'].hoverShow" 
                ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="ic ic-globe fa-stack-1x fa-inverse"></i>
        </span>
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('budget')" 
            ng-class="{'active': vm.isOpenedHeader('budget')}"
            ng-mouseover="vm.hoverIn('recipient_budget')" 
            ng-mouseleave="vm.hoverOut('recipient_budget')"
            ng-show="vm.isIncludedFilter('recipient_budget')">
            <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_budget'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
        </span>
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('sectors')" 
            ng-class="{'active': vm.isOpenedHeader('sectors')}"
            ng-mouseover="vm.hoverIn('recipient_sectors')" 
            ng-mouseleave="vm.hoverOut('recipient_sectors')"
            ng-show="vm.isIncludedFilter('recipient_sectors')">
            <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_sectors'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
        </span>
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('activity_status')" 
            ng-class="{'active': vm.isOpenedHeader('activity_status')}"
            ng-mouseover="vm.hoverIn('recipient_activity_status')" 
            ng-mouseleave="vm.hoverOut('recipient_activity_status')"
            ng-show="vm.isIncludedFilter('recipient_activity_status')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_activity_status'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-money fa-stack-1x fa-inverse"></i>
        </span>
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('implementing_organisations')" 
            ng-class="{'active': vm.isOpenedHeader('implementing_organisations')}"
            ng-mouseover="vm.hoverIn('recipient_implementing_organisations')" 
            ng-mouseleave="vm.hoverOut('recipient_implementing_organisations')"
            ng-show="vm.isIncludedFilter('recipient_implementing_organisations')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_implementing_organisations'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
        </span>

    </div>

    <div class="col-md-3 filters">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <a ng-click="vm.resetFilters()" class="fa fa-refresh fa-stack-1x fa-inverse"></a>
      </span>
      <span class="tool-text">Wis actieve filters</span>
    </div>

    <div class="col-md-4 social">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <a ng-click="vm.share('twitter')" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <a ng-click="vm.share('linkedin')" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <a ng-click="vm.share('facebook')" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
      </span>
    </div>

</div>

<tool-bar></tool-bar>

<div class="row">
    <div class="col-xs-12">
        <div class="rel">
            <filter-panel-recipient-countries ng-show="vm.isOpenedHeader('recipient_countries')"></filter-panel-recipient-countries>
            <filter-panel-recipient-regions ng-show="vm.isOpenedHeader('recipient_regions')"></filter-panel-recipient-regions>
            <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
            <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
            <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
        </div>
    </div>
</div>