 <div class="row actions">
    <div class="col-md-6 col-sm-7 filters">
        <span class="makeblock">filters</span> 
        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('recipient_countries')" 
            ng-class="{'active': vm.isOpenedHeader('recipient_countries')}"
            ng-mouseover="vm.hoverIn('recipient_countries')" 
            ng-mouseleave="vm.hoverOut('recipient_countries')"
            ng-show="vm.isIncludedFilter('recipient_countries')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_countries'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>

        <span 
            class="fa-stack fa-lg" 
            ng-click="vm.toggleOpenPanel('recipient_regions')" 
            ng-class="{'active': vm.isOpenedHeader('recipient_regions')}"
            ng-mouseover="vm.hoverIn('recipient_regions')" 
            ng-mouseleave="vm.hoverOut('recipient_regions')"
            ng-show="vm.isIncludedFilter('recipient_regions')">
            <div 
                class="glyphicon-popup" 
                ng-show="vm.buttonTexts['recipient_regions'].hoverShow" 
                ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="ic ic-globe fa-stack-1x fa-inverse"></i>
        </span>
        <span 
            class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('budget')" 
            ng-class="{'active': vm.isOpenedHeader('budget')}"
            ng-mouseover="vm.hoverIn('recipient_budget')" 
            ng-mouseleave="vm.hoverOut('recipient_budget')"
            ng-show="vm.isIncludedFilter('recipient_budget')">
            <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_budget'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('sectors')" ng-class="{'active': vm.isOpenedHeader('sectors')}"
            ng-mouseover="vm.hoverIn('recipient_sectors')" 
            ng-mouseleave="vm.hoverOut('recipient_sectors')"
            ng-show="vm.isIncludedFilter('recipient_sectors')">
            <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_sectors'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('activity_status')" ng-class="{'active': vm.isOpenedHeader('activity_status')}"
            ng-mouseover="vm.hoverIn('recipient_activity_status')" 
            ng-mouseleave="vm.hoverOut('recipient_activity_status')"
            ng-show="vm.isIncludedFilter('recipient_activity_status')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_activity_status'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-money fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('implementing_organisations')" ng-class="{'active': vm.isOpenedHeader('implementing_organisations')}"
            ng-mouseover="vm.hoverIn('recipient_implementing_organisations')" 
            ng-mouseleave="vm.hoverOut('recipient_implementing_organisations')"
            ng-show="vm.isIncludedFilter('recipient_implementing_organisations')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['recipient_implementing_organisations'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>

          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="col-md-6 col-sm-5 dash text-right-not-xs">
        <span class="makeblock">dashboards</span> 
        <a 
            class="fa-stack fa-lg" ui-sref="iati-charts"
            ng-mouseover="vm.hoverIn('charts')" 
            ng-mouseleave="vm.hoverOut('charts')"
            ng-show="vm.isIncludedDashboard('charts')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['charts'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </a>
        <a class="fa-stack fa-lg" ui-sref="iati-explorer-map"
            ng-mouseover="vm.hoverIn('map')" 
            ng-mouseleave="vm.hoverOut('map')"
            ng-show="vm.isIncludedDashboard('map')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['map'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="ic ic-map fa-stack-1x fa-inverse"></i>
        </a>
        <a class="fa-stack fa-lg" ui-sref="iati-explorer-list"
            ng-mouseover="vm.hoverIn('list')" 
            ng-mouseleave="vm.hoverOut('list')"
            ng-show="vm.isIncludedDashboard('list')">
          <div 
            class="glyphicon-popup" 
            ng-show="vm.buttonTexts['list'].hoverShow" 
            ng-bind-html="vm.currentHoverText"></div>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
        </a>
    </div>
</div>