<div class="filter-panel">
    <div class="row filter-panel-header-wrapper">
        <div class="col-md-6">
            <div class="search-box keywords">
                <form ng-submit="vm.submit()">
                    <div class="form-group">
                        <input ng-model="vm.query" class="form-control" placeholder="Enter your query...">
                        <button class="btn-search" type="button" ng-click="vm.save()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--     <button class="btn btn-default btn-openaid btn-save" ng-click="vm.save()">Voeg trefwoord toe aan filters</button>
 -->
 </div>