<div class="filter-panel">
	<div class="extra-padding">
		<div class="row filter-panel-header-wrapper">
			<div class="col-md-4">
				<div class="search-box">
				    <div class="form-group">
				        <input ng-model="vm.q" class="form-control" placeholder="Search for a specific project partner...">
				        <button class="btn-search" type="button">
				            <span class="fa fa-search"></span>
				        </button>
			        </div>
				</div>
			</div>

		</div>
		<div class="row" ng-show="vm.receiverOrganisations.length == 0">
			<div class="svg-loader">
				There are no project partners found within your current selection.
			</div>
		</div>
		<div class="row" ng-show="vm.receiverOrganisations.length != 0">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<td class="th-first">Select one or more receiving organisations</td>
							<td>Projects</td>
						</tr>
					</thead>
					<tbody>

					    <tr 
					    	dir-paginate="item in vm.receiverOrganisations | itemsPerPage: 4"  
					    	total-items="vm.totalCount" 
					    	current-page="pagination.current" 
					    	pagination-id="receiverOrganisations">
					    	<td>
					    		<div class="checkbox">
						    		<label class="switch">
						    			<input type="checkbox" checklist-model="vm.selectedreceiverOrganisations" checklist-value="item"><i></i>
						    			<span>{{ item.receiver_org | capitalize }}</span>
						    		</label>
						    	</div>
					    	</td>
					    	<td>
					    		{{ item.activity_count }}
					    	</td>
					    </tr>

					</tbody>
				</table>
			</div>
			<div class="col-md-12 text-center">
				<button class="btn btn-default btn-openaid btn-save" ng-click="vm.save()">Save</button>
				<dir-pagination-controls 
					pagination-id="receiverOrganisations"
					on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
			</div>
		</div>
	</div>
</div>
