<div class="filter-panel col-xs-offset-4 col-xs-8">
	<div class="row filter-panel-header-wrapper">
		<div class="col-md-6">
			<h5 class="filter-panel-header">
				Selecteer budget
			</h5>
		</div>
		<div class="col-md-6 align-right">
			<button class="btn btn-default btn-openaid" ng-click="vm.save()">Save</button>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">

			<slider slider-id="time-slider"
		        ng-model="vm.slider.value"
		        value="[100000, 300000]"
		        min="0"
		        max="3000000"
		        step="1"
		        range="true"
		        precision="2"
		        reversed="false"
		        orientation="horizontal"
		        handle="round"
		        enabled="true"
		        ng-disabled="false"
		        naturalarrowkeys="false"
		        selection="before"
		        tooltip="always">
			</slider>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<span>{{vm.slider.min}}</span><span style="float:right;">{{vm.slider.max}}</span>
	



		</div>
	</div>
	<div class="row">
		<hr>
		<br>&nbsp;
		<br>&nbsp;
		<br>&nbsp;
		<br>&nbsp;
		<br>&nbsp;
		<br>&nbsp;
		<br>&nbsp;
	</div>
</div>
