/* line 7, ../../scss/flags/flag-icon-base.scss */
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333em;
  line-height: 1em;
}
/* line 13, ../../scss/flags/flag-icon-base.scss */
.flag-icon:before {
  content: '\00a0';
}
/* line 16, ../../scss/flags/flag-icon-base.scss */
.flag-icon.flag-icon-squared {
  width: 1em;
}
