/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/*@import "partials/normalize";*/
/*@import "partials/variables";*/
/*@import "partials/typography";*/
/*@import "partials/functions";*/
/*@import "partials/mixins";*/
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GLOBAL
*********************/
/* line 18, ../scss/breakpoints/_base.scss */
body {
  background-color: #F3F3F5;
}

/* line 22, ../scss/breakpoints/_base.scss */
.white-background {
  background-color: #fff;
}

/* line 26, ../scss/breakpoints/_base.scss */
.btn-openaid {
  background-color: #444;
  padding: 5px 28px;
  color: #fff;
  border: 0;
  font-size: 12px;
  border-radius: 2px;
}

/* line 35, ../scss/breakpoints/_base.scss */
.btn-cancel {
  margin-left: 5px;
  background-color: #CBCCDA;
}

/* line 40, ../scss/breakpoints/_base.scss */
.align-right {
  text-align: right;
}

/* line 44, ../scss/breakpoints/_base.scss */
hr {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 50, ../scss/breakpoints/_base.scss */
.svg-loader {
  text-align: center;
  margin: 70px 0 60px;
}

/* line 56, ../scss/breakpoints/_base.scss */
.main-placeholder {
  margin: 20px 0 40px;
  padding: 100px 40px;
  border: 1px dotted #444;
  text-align: center;
  font-size: 22px;
}

/* line 64, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper {
  margin-bottom: 40px;
}

/* line 68, ../scss/breakpoints/_base.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 72, ../scss/breakpoints/_base.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 77, ../scss/breakpoints/_base.scss */
[ui-view].ng-enter {
  transition: 0.75s;
  opacity: 0;
}

/* line 82, ../scss/breakpoints/_base.scss */
[ui-view].ng-enter-active {
  opacity: 1;
}

/* line 86, ../scss/breakpoints/_base.scss */
[ui-view].ng-leave {
  transition: 0.75s;
  opacity: 0;
}

/* line 91, ../scss/breakpoints/_base.scss */
[ui-view].ng-leave-active {
  opacity: 1;
}

/*.view.ng-enter{
  animation:view_enter 1s;
}
@keyframes view_enter {
  0% { left: 100%; }
  30% { left: 80%; }
  100% { left: 0; }
}*/
/*********************
NAVBAR
*********************/
/* line 107, ../scss/breakpoints/_base.scss */
.navbar {
  background-color: #333;
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: 0px 1px 2px 0px #444444;
  -moz-box-shadow: 0px 1px 2px 0px #444444;
  box-shadow: 0px 1px 2px 0px #444444;
}

/* line 116, ../scss/breakpoints/_base.scss */
.navbar .btn.btn-default:hover, .navbar .btn-group .btn:hover {
  background-color: #797990;
  color: #fff;
}

/* line 123, ../scss/breakpoints/_base.scss */
.navbar .active .btn.btn-default,
.navbar .active .btn.btn-default:focus, .navbar .btn.btn-default:focus, .navbar .btn-group .btn:focus,
.navbar .active .btn.btn-default:hover {
  background-color: #FF7F00;
  color: #fff;
}

/* line 128, ../scss/breakpoints/_base.scss */
.navbar .btn.btn-default, .navbar .btn-group .btn {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #525261;
  color: #fff;
  border: 0;
}

/* line 139, ../scss/breakpoints/_base.scss */
.navbar-brand img {
  width: auto;
  height: 20px;
}

/* line 144, ../scss/breakpoints/_base.scss */
.navbar-brand {
  margin-right: 20px;
  padding-top: 17px;
}

/* line 149, ../scss/breakpoints/_base.scss */
.nav > li > a {
  padding: 10px 10px;
}

/* line 153, ../scss/breakpoints/_base.scss */
.navbar .btn-group.navbar-right .btn {
  margin-right: 15px;
}

/* line 157, ../scss/breakpoints/_base.scss */
.glyphicon-user {
  margin-right: 5px;
}

/*********************
SEARCH BAR
*********************/
/* line 165, ../scss/breakpoints/_base.scss */
.search-box input[type='text'] {
  padding-left: 24px;
}

/* line 169, ../scss/breakpoints/_base.scss */
.search-box .btn {
  padding: 7px 9px 0px;
  line-height: 24px;
}

/* line 174, ../scss/breakpoints/_base.scss */
.glyphicon-search {
  font-size: 18px;
  color: #BDBDBD;
}

/*********************
FILTER BAR
*********************/
/* line 185, ../scss/breakpoints/_base.scss */
filter-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* line 194, ../scss/breakpoints/_base.scss */
.filters-closed filter-bar {
  width: 40px;
}

/* line 198, ../scss/breakpoints/_base.scss */
.filter-selected {
  background-color: #fff;
  padding: 0px 0px 10px 40px;
  overflow: hidden;
}

/* line 204, ../scss/breakpoints/_base.scss */
.filter-selected-button {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #CBCCDA;
  border: 0;
  border-radius: 0;
}

/* line 212, ../scss/breakpoints/_base.scss */
#filter-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: 2px solid #F3F3F5;
}

/* line 221, ../scss/breakpoints/_base.scss */
#filter-button {
  position: relative;
  background-color: #555;
  border-radius: 0;
  border: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 13px 9px 0px;
  cursor: pointer;
}

/* line 233, ../scss/breakpoints/_base.scss */
.filter-header.filter-header-toggle, .filter-header.filter-header-toggle:hover {
  height: 40px;
  background-color: #444;
  border-bottom: 0;
  cursor: default;
}

/* line 240, ../scss/breakpoints/_base.scss */
.filter-header.filter-header-toggle .filter-header-text {
  color: #79796A;
  padding-left: 6px;
}

/* line 245, ../scss/breakpoints/_base.scss */
.filter-button-icon {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #fff;
}

/* line 253, ../scss/breakpoints/_base.scss */
.filter-button-icon + .filter-button-icon {
  margin-top: 2px;
}

/* line 257, ../scss/breakpoints/_base.scss */
#filter-headers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9901;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  -moz-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
}

/* line 267, ../scss/breakpoints/_base.scss */
#filter-headers.col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

/* line 272, ../scss/breakpoints/_base.scss */
#filter-headers.filters-hidden {
  width: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 279, ../scss/breakpoints/_base.scss */
.filter-reset-button {
  background-color: #525261;
  color: #fff;
  padding: 4px 18px;
  border-radius: 2px;
  font-size: 12px;
  float: right;
  margin-top: 8px;
  margin-right: 14px;
}

/* line 290, ../scss/breakpoints/_base.scss */
.filter-reset-button:hover, .filter-reset-button:focus {
  color: #FF9933;
  text-decoration: none;
}

/* line 295, ../scss/breakpoints/_base.scss */
.filter-header {
  position: relative;
  height: 38px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #DBDBEA;
  background-color: #fff;
}
/* line 303, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-text {
  color: #FF9933;
  font-size: 16px;
  font-weight: bold;
}
/* line 309, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-amount, .filter-header .glyphicon-chevron-right {
  float: right;
}
/* line 313, ../scss/breakpoints/_base.scss */
.filter-header .glyphicon-chevron-right {
  top: 8px;
  right: 10px;
  font-size: 20px;
  color: #444;
}
/* line 320, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-amount {
  margin-top: 11px;
  margin-right: 13px;
  border-radius: 3px;
  background-color: #444;
  color: #fff;
  font-size: 10px;
  padding: 1px 4px;
  font-weight: bold;
}
/* line 331, ../scss/breakpoints/_base.scss */
.filter-header .filter-link {
  height: 38px;
  width: 40px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 340, ../scss/breakpoints/_base.scss */
.filter-header .filter-icon {
  display: block;
  background-image: url("../../images/glyph-filters.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
}
/* line 349, ../scss/breakpoints/_base.scss */
.filter-header .filter-recipient_countries {
  background-position: 0 0;
}
/* line 350, ../scss/breakpoints/_base.scss */
.filter-header .filter-recipient_regions {
  background-position: 0 -40px;
}
/* line 351, ../scss/breakpoints/_base.scss */
.filter-header .filter-budget {
  background-position: 0 -80px;
}
/* line 352, ../scss/breakpoints/_base.scss */
.filter-header .filter-sectors {
  background-position: 0 -121px;
}
/* line 353, ../scss/breakpoints/_base.scss */
.filter-header .filter-start_end_date {
  background-position: 0 -163px;
}
/* line 354, ../scss/breakpoints/_base.scss */
.filter-header .filter-participating_organisations {
  background-position: 0 -204px;
}
/* line 355, ../scss/breakpoints/_base.scss */
.filter-header .filter-policy_markers {
  background-position: 0 -244px;
}
/* line 356, ../scss/breakpoints/_base.scss */
.filter-header .filter-activity_status {
  background-position: 0 -285px;
}
/* line 357, ../scss/breakpoints/_base.scss */
.filter-header .filter-document_link {
  background-position: 0 -326px;
}

/* line 361, ../scss/breakpoints/_base.scss */
.filter-header > a, .filter-header > span {
  display: inline-block;
  vertical-align: middle;
}

/* line 366, ../scss/breakpoints/_base.scss */
.filter-header:hover, .filter-header.filter-active {
  cursor: pointer;
  background-color: #FF9933;
}
/* line 370, ../scss/breakpoints/_base.scss */
.filter-header:hover .filter-header-text, .filter-header.filter-active .filter-header-text {
  color: #fff;
}

/*********************
Activiteitenkaart
*********************/
/* line 380, ../scss/breakpoints/_base.scss */
.explore-block-header {
  width: 100%;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  padding: 6px 0;
}

/* line 390, ../scss/breakpoints/_base.scss */
.explore-block-content {
  padding-top: 20px;
  min-height: 140px;
}

/*********************
Countries
*********************/
/* line 401, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .filter-panel-header-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 406, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .country-list {
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #ccc;
}
/* line 412, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .country-list a {
  display: block;
  padding: 6px 0px 6px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

/*********************
Filter panel
*********************/
/* line 425, ../scss/breakpoints/_base.scss */
.filter-panel {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #fff;
  width: 64%;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  -moz-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
}
/* line 435, ../scss/breakpoints/_base.scss */
.filter-panel .search-box input, .filter-panel .search-box button {
  height: 26px;
}
/* line 439, ../scss/breakpoints/_base.scss */
.filter-panel .search-box, .filter-panel .btn-openaid {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 444, ../scss/breakpoints/_base.scss */
.filter-panel .search-box .btn {
  padding: 4px 9px 0px;
  line-height: 20px;
}
/* line 449, ../scss/breakpoints/_base.scss */
.filter-panel .glyphicon-search {
  font-size: 16px;
}
/* line 453, ../scss/breakpoints/_base.scss */
.filter-panel .pagination {
  margin: 10px 15px 10px;
}
/* line 457, ../scss/breakpoints/_base.scss */
.filter-panel .filter-panel-header-wrapper {
  border-bottom: 1px solid #ddd;
}
/* line 461, ../scss/breakpoints/_base.scss */
.filter-panel .filter-panel-header {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 16px;
}
/* line 467, ../scss/breakpoints/_base.scss */
.filter-panel .table {
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 473, ../scss/breakpoints/_base.scss */
.filter-panel .table tbody {
  border-bottom: 1px solid #ddd;
}
/* line 477, ../scss/breakpoints/_base.scss */
.filter-panel .table .th-first {
  padding-left: 15px;
  width: 60%;
}
/* line 483, ../scss/breakpoints/_base.scss */
.filter-panel .table .checkbox {
  margin: 0 0 0 10px;
}
/* line 487, ../scss/breakpoints/_base.scss */
.filter-panel .table label {
  color: #FF9933;
  font-weight: bold;
}

/*********************
TOOL BAR
*********************/
/* line 497, ../scss/breakpoints/_base.scss */
#tool-bar {
  background-color: #444;
  height: 40px;
}

/*********************
TABS
*********************/
/* line 508, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-headers {
  margin-top: 20px;
  padding-left: 80px;
  padding-right: 30px;
}
/* line 514, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header {
  display: inline-block;
  background-color: #EEE;
  text-align: center;
  border-right: 1px solid #ddd;
  width: 19%;
  color: #444;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 527, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header:last-child {
  border-right: 0;
}
/* line 531, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header:hover, .tabs-wrapper .tab-header.active {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}
/* line 537, ../scss/breakpoints/_base.scss */
.tabs-wrapper .col-xs-4 {
  padding-left: 80px;
}
/* line 541, ../scss/breakpoints/_base.scss */
.tabs-wrapper .chart-container {
  padding-top: 80px;
  padding-bottom: 50px;
}
/* line 546, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-item {
  -webkit-transition-duration: 5s;
  /* Safari */
  transition-duration: 5s;
}

/*********************
Tab bubble chart vis 
*********************/
/* line 558, ../scss/breakpoints/_base.scss */
.bubble-chart-wrapper {
  padding-top: 40px;
}

/* line 562, ../scss/breakpoints/_base.scss */
.bubble-chart-wrapper .time-slider-wrapper {
  margin-top: 30px;
}

/*********************
MAIN AREA
*********************/
/* line 570, ../scss/breakpoints/_base.scss */
#main-content {
  min-height: 600px;
}

/* line 574, ../scss/breakpoints/_base.scss */
#main-visualisation-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 720px;
  position: relative;
}

/*********************
SLIDER TOOLTIP 
*********************/
/* line 586, ../scss/breakpoints/_base.scss */
.slider #tooltip.tooltip.in {
  opacity: 1;
}

/* line 590, ../scss/breakpoints/_base.scss */
.slider #tooltip {
  background-color: transparent;
  color: #333;
  margin-top: 2px;
  font-size: 14px;
}
/* line 597, ../scss/breakpoints/_base.scss */
.slider #tooltip .tooltip-inner {
  color: #333;
  background-color: transparent;
  border-radius: 0;
}
/* line 605, ../scss/breakpoints/_base.scss */
.slider #tooltip .tooltip-arrow {
  display: none;
}

/*********************
ACTIVITY LIST
*********************/
/* line 615, ../scss/breakpoints/_base.scss */
.activity-list-header {
  font-size: 16px;
  font-weight: bold;
  color: #676759;
}

/*.activity-list-item .col-md-2, .activity-list-item .col-md-3{
  border-bottom: 1px solid #ACAC9D;
}*/
/*********************
FOOTER
*********************/
/* line 629, ../scss/breakpoints/_base.scss */
footer {
  background-color: #333;
  min-height: 450px;
  color: #fff;
  padding-top: 110px;
}

/* line 636, ../scss/breakpoints/_base.scss */
footer img {
  margin-top: 10px;
}

/* line 640, ../scss/breakpoints/_base.scss */
footer .row {
  text-align: center;
  margin-bottom: 10px;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*
  IMPORTANT NOTE ABOUT SASS 3.3 & UP
  You can't use @extend within media queries
  anymore, so just be aware that if you drop
  them in here, they won't work.
  */
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.
  
  ******************************************************************/
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  /*@import "partials/print";*/
}
