/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 23, ../scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 33, ../scss/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 53, ../scss/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 77, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../scss/partials/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 97, ../scss/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 106, ../scss/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 119, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 128, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 138, ../scss/partials/_normalize.scss */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 148, ../scss/partials/_normalize.scss */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 156, ../scss/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
/* line 166, ../scss/partials/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 177, ../scss/partials/_normalize.scss */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 188, ../scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 197, ../scss/partials/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 205, ../scss/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 213, ../scss/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 218, ../scss/partials/_normalize.scss */
small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 227, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 234, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 238, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 253, ../scss/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../scss/partials/_normalize.scss */
dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 265, ../scss/partials/_normalize.scss */
menu {
  padding: 0 0 0 40px;
}

/* line 270, ../scss/partials/_normalize.scss */
ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 280, ../scss/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 293, ../scss/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 301, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 313, ../scss/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 325, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 336, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 350, ../scss/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 362, ../scss/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 374, ../scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 389, ../scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 399, ../scss/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 409, ../scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 420, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 433, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 442, ../scss/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 452, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 465, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 472, ../scss/partials/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 480, ../scss/partials/_normalize.scss */
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 487, ../scss/partials/_normalize.scss */
.clearfix, .cf {
  zoom: 1;
}
/* line 489, ../scss/partials/_normalize.scss */
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 490, ../scss/partials/_normalize.scss */
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 497, ../scss/partials/_normalize.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 81, ../scss/partials/_typography.scss */
h1 {
  font-weight: 700;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GLOBAL
*********************/
/* line 18, ../scss/breakpoints/_base.scss */
body {
  /*background-color: #404040;*/
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  color: #333333;
  font-family: "Titillium Web", sans-serif;
}

/* line 26, ../scss/breakpoints/_base.scss */
.white-background {
  background-color: #fff;
}

/* line 30, ../scss/breakpoints/_base.scss */
.btn-openaid {
  background-color: #29abe2;
  padding: 5px 28px;
  color: #fff;
  border: 0;
  font-size: 12px;
  border-radius: 2px;
}

/* line 39, ../scss/breakpoints/_base.scss */
.btn-cancel {
  margin-left: 5px;
  background-color: #CBCCDA;
}

/* line 44, ../scss/breakpoints/_base.scss */
.align-right {
  text-align: right;
}

/* line 48, ../scss/breakpoints/_base.scss */
hr {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 54, ../scss/breakpoints/_base.scss */
.svg-loader {
  text-align: center;
  margin: 70px 0 60px;
}

/* line 60, ../scss/breakpoints/_base.scss */
.main-placeholder {
  margin: 20px 0 40px;
  padding: 100px 40px;
  border: 1px dotted #444;
  text-align: center;
  font-size: 22px;
}

/* line 68, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper {
  margin-bottom: 40px;
}

/* line 72, ../scss/breakpoints/_base.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 76, ../scss/breakpoints/_base.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 81, ../scss/breakpoints/_base.scss */
[ui-view].ng-enter {
  transition: 0.75s;
  opacity: 0;
}

/* line 86, ../scss/breakpoints/_base.scss */
[ui-view].ng-enter-active {
  opacity: 1;
}

/* line 90, ../scss/breakpoints/_base.scss */
[ui-view].ng-leave {
  transition: 0.75s;
  opacity: 0;
}

/* line 95, ../scss/breakpoints/_base.scss */
[ui-view].ng-leave-active {
  opacity: 1;
}

/* line 99, ../scss/breakpoints/_base.scss */
.hp-block {
  background-color: rgba(41, 171, 226, 0.1);
  padding: 14px 24px;
  margin: 15px 0;
}
/* line 103, ../scss/breakpoints/_base.scss */
.hp-block .title {
  padding-bottom: 15px;
}
/* line 104, ../scss/breakpoints/_base.scss */
.hp-block .title h2 {
  display: inline;
}
/* line 109, ../scss/breakpoints/_base.scss */
.hp-block.blauw {
  background-color: #29abe2;
  background-color: rgba(41, 171, 226, 0.35);
}
/* line 113, ../scss/breakpoints/_base.scss */
.hp-block.groen {
  background-color: #009245;
  background-color: rgba(0, 146, 69, 0.35);
}
/* line 117, ../scss/breakpoints/_base.scss */
.hp-block.roze {
  background-color: #ad7979;
  background-color: rgba(173, 121, 121, 0.35);
}
/* line 122, ../scss/breakpoints/_base.scss */
.hp-block h3, .hp-block h2, .hp-block h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 127, ../scss/breakpoints/_base.scss */
.hp-block hr {
  margin-top: 0;
}
/* line 131, ../scss/breakpoints/_base.scss */
.hp-block .number {
  font-size: 4rem;
  font-weight: bold;
}
/* line 136, ../scss/breakpoints/_base.scss */
.hp-block .number.large {
  font-size: 5rem;
  border-bottom: 2px solid #333333;
  line-height: 5rem;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 143, ../scss/breakpoints/_base.scss */
.hp-block h2 {
  margin-top: 10px;
  margin-left: 4px;
}
/* line 148, ../scss/breakpoints/_base.scss */
.hp-block .glyphicon {
  color: #ccc;
  font-size: 18px;
  position: relative;
}
/* line 154, ../scss/breakpoints/_base.scss */
.hp-block .glyphicon:hover {
  text-decoration: none;
  color: #aaa;
  cursor: pointer;
}
/* line 160, ../scss/breakpoints/_base.scss */
.hp-block .glyphicon-popup {
  position: absolute;
  left: 34px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: rgba(64, 64, 64, 0.95);
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.35);
  min-width: 400px;
  border-radius: 8px;
  padding: 12px 16px 20px;
  font-size: 14px;
}
/* line 175, ../scss/breakpoints/_base.scss */
.hp-block .glyphicon-popup h3 {
  margin-top: 0;
  margin-bottom: 6px;
}

/* line 182, ../scss/breakpoints/_base.scss */
.btn-default {
  padding: 3px 10px 5px;
  background-color: rgba(41, 171, 226, 0.4);
  border: 0;
  color: #fff;
}

/*.view.ng-enter{
  animation:view_enter 1s;
}
@keyframes view_enter {
  0% { left: 100%; }
  30% { left: 80%; }
  100% { left: 0; }
}*/
/*********************
NAVBAR
*********************/
/* line 201, ../scss/breakpoints/_base.scss */
.navbar {
  background-color: #333;
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: 0px 1px 2px 0px #444444;
  -moz-box-shadow: 0px 1px 2px 0px #444444;
  box-shadow: 0px 1px 2px 0px #444444;
}

/* line 210, ../scss/breakpoints/_base.scss */
.navbar .btn.btn-default:hover, .navbar .btn-group .btn:hover, .btn-default:hover {
  background-color: #797990;
  color: #fff;
}

/* line 217, ../scss/breakpoints/_base.scss */
.navbar .active .btn.btn-default,
.navbar .active .btn.btn-default:focus, .navbar .btn.btn-default:focus, .navbar .btn-group .btn:focus,
.navbar .active .btn.btn-default:hover {
  background-color: #FF7F00;
  color: #fff;
}

/* line 222, ../scss/breakpoints/_base.scss */
.navbar .btn.btn-default, .navbar .btn-group .btn {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #4d4d4d;
  color: #fff;
  border: 0;
}

/* line 233, ../scss/breakpoints/_base.scss */
.navbar-brand img {
  width: auto;
  height: 20px;
}

/* line 238, ../scss/breakpoints/_base.scss */
.navbar-brand {
  margin-right: 20px;
  padding-top: 17px;
}

/* line 243, ../scss/breakpoints/_base.scss */
.nav > li > a {
  padding: 10px 10px;
}

/* line 247, ../scss/breakpoints/_base.scss */
.navbar .btn-group.navbar-right .btn {
  margin-right: 15px;
}

/* line 251, ../scss/breakpoints/_base.scss */
.glyphicon-user {
  margin-right: 5px;
}

/*********************
SEARCH BAR
*********************/
/* line 259, ../scss/breakpoints/_base.scss */
.search-box input[type='text'] {
  padding-left: 24px;
}

/* line 263, ../scss/breakpoints/_base.scss */
.search-box .btn {
  padding: 7px 9px 0px;
  line-height: 24px;
}

/* line 268, ../scss/breakpoints/_base.scss */
.glyphicon-search {
  font-size: 18px;
  color: #BDBDBD;
}

/*********************
FILTER BAR
*********************/
/* line 279, ../scss/breakpoints/_base.scss */
filter-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* line 288, ../scss/breakpoints/_base.scss */
.filters-closed filter-bar {
  width: 40px;
}

/* line 292, ../scss/breakpoints/_base.scss */
.filter-selected {
  background-color: #fff;
  padding: 0px 0px 10px 40px;
  overflow: hidden;
}

/* line 298, ../scss/breakpoints/_base.scss */
.filter-selected-button {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #CBCCDA;
  border: 0;
  border-radius: 0;
}

/* line 306, ../scss/breakpoints/_base.scss */
#filter-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: 2px solid #F3F3F5;
}

/* line 315, ../scss/breakpoints/_base.scss */
#filter-button {
  position: relative;
  background-color: #555;
  border-radius: 0;
  border: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 13px 9px 0px;
  cursor: pointer;
}

/* line 327, ../scss/breakpoints/_base.scss */
.filter-header.filter-header-toggle, .filter-header.filter-header-toggle:hover {
  height: 40px;
  background-color: #444;
  border-bottom: 0;
  cursor: default;
}

/* line 334, ../scss/breakpoints/_base.scss */
.filter-header.filter-header-toggle .filter-header-text {
  color: #79796A;
  padding-left: 6px;
}

/* line 339, ../scss/breakpoints/_base.scss */
.filter-button-icon {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #fff;
}

/* line 347, ../scss/breakpoints/_base.scss */
.filter-button-icon + .filter-button-icon {
  margin-top: 2px;
}

/* line 351, ../scss/breakpoints/_base.scss */
#filter-headers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9901;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  -moz-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
}

/* line 361, ../scss/breakpoints/_base.scss */
#filter-headers.col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

/* line 366, ../scss/breakpoints/_base.scss */
#filter-headers.filters-hidden {
  width: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 373, ../scss/breakpoints/_base.scss */
.filter-reset-button {
  background-color: #525261;
  color: #fff;
  padding: 4px 18px;
  border-radius: 2px;
  font-size: 12px;
  float: right;
  margin-top: 8px;
  margin-right: 14px;
}

/* line 384, ../scss/breakpoints/_base.scss */
.filter-reset-button:hover, .filter-reset-button:focus {
  color: #FF9933;
  text-decoration: none;
}

/* line 389, ../scss/breakpoints/_base.scss */
.filter-header {
  position: relative;
  height: 38px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #DBDBEA;
  background-color: #fff;
}
/* line 397, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-text {
  color: #FF9933;
  font-size: 16px;
  font-weight: bold;
}
/* line 403, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-amount, .filter-header .glyphicon-chevron-right {
  float: right;
}
/* line 407, ../scss/breakpoints/_base.scss */
.filter-header .glyphicon-chevron-right {
  top: 8px;
  right: 10px;
  font-size: 20px;
  color: #444;
}
/* line 414, ../scss/breakpoints/_base.scss */
.filter-header .filter-header-amount {
  margin-top: 11px;
  margin-right: 13px;
  border-radius: 3px;
  background-color: #444;
  color: #fff;
  font-size: 10px;
  padding: 1px 4px;
  font-weight: bold;
}
/* line 425, ../scss/breakpoints/_base.scss */
.filter-header .filter-link {
  height: 38px;
  width: 40px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 434, ../scss/breakpoints/_base.scss */
.filter-header .filter-icon {
  display: block;
  background-image: url("../../images/glyph-filters.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
}
/* line 443, ../scss/breakpoints/_base.scss */
.filter-header .filter-recipient_countries {
  background-position: 0 0;
}
/* line 444, ../scss/breakpoints/_base.scss */
.filter-header .filter-recipient_regions {
  background-position: 0 -40px;
}
/* line 445, ../scss/breakpoints/_base.scss */
.filter-header .filter-budget {
  background-position: 0 -80px;
}
/* line 446, ../scss/breakpoints/_base.scss */
.filter-header .filter-sectors {
  background-position: 0 -121px;
}
/* line 447, ../scss/breakpoints/_base.scss */
.filter-header .filter-start_end_date {
  background-position: 0 -163px;
}
/* line 448, ../scss/breakpoints/_base.scss */
.filter-header .filter-participating_organisations {
  background-position: 0 -204px;
}
/* line 449, ../scss/breakpoints/_base.scss */
.filter-header .filter-policy_markers {
  background-position: 0 -244px;
}
/* line 450, ../scss/breakpoints/_base.scss */
.filter-header .filter-activity_status {
  background-position: 0 -285px;
}
/* line 451, ../scss/breakpoints/_base.scss */
.filter-header .filter-document_link {
  background-position: 0 -326px;
}

/* line 455, ../scss/breakpoints/_base.scss */
.filter-header > a, .filter-header > span {
  display: inline-block;
  vertical-align: middle;
}

/* line 460, ../scss/breakpoints/_base.scss */
.filter-header:hover, .filter-header.filter-active {
  cursor: pointer;
  background-color: #FF9933;
}
/* line 464, ../scss/breakpoints/_base.scss */
.filter-header:hover .filter-header-text, .filter-header.filter-active .filter-header-text {
  color: #fff;
}

/*********************
Activiteitenkaart
*********************/
/* line 474, ../scss/breakpoints/_base.scss */
.explore-block-header {
  width: 100%;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  padding: 6px 0;
}

/* line 484, ../scss/breakpoints/_base.scss */
.explore-block-content {
  padding-top: 20px;
  min-height: 140px;
}

/*********************
Countries
*********************/
/* line 495, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .filter-panel-header-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 500, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .country-list {
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #ccc;
}
/* line 506, ../scss/breakpoints/_base.scss */
#main-grouped-page-wrapper .country-list a {
  display: block;
  padding: 6px 0px 6px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

/*********************
Filter panel
*********************/
/* line 519, ../scss/breakpoints/_base.scss */
.filter-panel {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #fff;
  width: 64%;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  -moz-box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
  box-shadow: 2px 2px 7px 0px rgba(25, 25, 25, 0.33);
}
/* line 529, ../scss/breakpoints/_base.scss */
.filter-panel .search-box input, .filter-panel .search-box button {
  height: 26px;
}
/* line 533, ../scss/breakpoints/_base.scss */
.filter-panel .search-box, .filter-panel .btn-openaid {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 538, ../scss/breakpoints/_base.scss */
.filter-panel .search-box .btn {
  padding: 4px 9px 0px;
  line-height: 20px;
}
/* line 543, ../scss/breakpoints/_base.scss */
.filter-panel .glyphicon-search {
  font-size: 16px;
}
/* line 547, ../scss/breakpoints/_base.scss */
.filter-panel .pagination {
  margin: 10px 15px 10px;
}
/* line 551, ../scss/breakpoints/_base.scss */
.filter-panel .filter-panel-header-wrapper {
  border-bottom: 1px solid #ddd;
}
/* line 555, ../scss/breakpoints/_base.scss */
.filter-panel .filter-panel-header {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 16px;
}
/* line 561, ../scss/breakpoints/_base.scss */
.filter-panel .table {
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 570, ../scss/breakpoints/_base.scss */
.filter-panel .table .th-first {
  padding-left: 15px;
  width: 60%;
}
/* line 576, ../scss/breakpoints/_base.scss */
.filter-panel .table .checkbox {
  margin: 0 0 0 10px;
}
/* line 580, ../scss/breakpoints/_base.scss */
.filter-panel .table label {
  color: #FF9933;
  font-weight: bold;
}

/*********************
TOOL BAR
*********************/
/* line 590, ../scss/breakpoints/_base.scss */
#tool-bar {
  background-color: #444;
  height: 40px;
}

/*********************
TABS
*********************/
/* line 601, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-headers {
  margin-top: 20px;
  padding-left: 80px;
  padding-right: 30px;
}
/* line 607, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header {
  display: inline-block;
  background-color: #EEE;
  text-align: center;
  border-right: 1px solid #ddd;
  width: 19%;
  color: #444;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 620, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header:last-child {
  border-right: 0;
}
/* line 624, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-header:hover, .tabs-wrapper .tab-header.active {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}
/* line 630, ../scss/breakpoints/_base.scss */
.tabs-wrapper .col-xs-4 {
  padding-left: 80px;
}
/* line 634, ../scss/breakpoints/_base.scss */
.tabs-wrapper .chart-container {
  padding-top: 80px;
  padding-bottom: 50px;
}
/* line 639, ../scss/breakpoints/_base.scss */
.tabs-wrapper .tab-item {
  -webkit-transition-duration: 5s;
  /* Safari */
  transition-duration: 5s;
}

/*********************
Tab bubble chart vis 
*********************/
/* line 651, ../scss/breakpoints/_base.scss */
.bubble-chart-wrapper {
  padding-top: 40px;
}

/* line 655, ../scss/breakpoints/_base.scss */
.bubble-chart-wrapper .time-slider-wrapper {
  margin-top: 30px;
}

/*********************
MAIN AREA
*********************/
/* line 663, ../scss/breakpoints/_base.scss */
#main-content {
  min-height: 600px;
}

/* line 667, ../scss/breakpoints/_base.scss */
#main-visualisation-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 720px;
  position: relative;
}

/*********************
SLIDER TOOLTIP 
*********************/
/* line 679, ../scss/breakpoints/_base.scss */
.slider #tooltip.tooltip.in {
  opacity: 1;
}

/* line 683, ../scss/breakpoints/_base.scss */
.slider #tooltip {
  background-color: transparent;
  color: #333;
  margin-top: 2px;
  font-size: 14px;
}
/* line 690, ../scss/breakpoints/_base.scss */
.slider #tooltip .tooltip-inner {
  color: #333;
  background-color: transparent;
  border-radius: 0;
}
/* line 698, ../scss/breakpoints/_base.scss */
.slider #tooltip .tooltip-arrow {
  display: none;
}

/*********************
ACTIVITY LIST
*********************/
/* line 708, ../scss/breakpoints/_base.scss */
.activity-list-header {
  font-size: 16px;
  font-weight: bold;
  color: #676759;
}

/*.activity-list-item .col-md-2, .activity-list-item .col-md-3{
  border-bottom: 1px solid #ACAC9D;
}*/
/* line 722, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody {
  border: 0;
}
/* line 725, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody tr td {
  border: 0;
}
/* line 726, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody tr td.colour {
  padding-right: 0;
}
/* line 728, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody tr td.colour div {
  background: #29abe2;
  margin-top: 3px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
}
/* line 737, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody tr td span {
  border-bottom: 1px solid #333333;
}
/* line 741, ../scss/breakpoints/_base.scss */
oipa-table-chart .table tbody tr:nth-child(odd) {
  background: rgba(102, 102, 102, 0.15);
}

/*********************
FOOTER
*********************/
/* line 753, ../scss/breakpoints/_base.scss */
footer {
  background-color: #333;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}
/* line 758, ../scss/breakpoints/_base.scss */
footer .row {
  text-align: center;
}
/* line 761, ../scss/breakpoints/_base.scss */
footer h1 {
  margin-bottom: 0.3rem;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*
  IMPORTANT NOTE ABOUT SASS 3.3 & UP
  You can't use @extend within media queries
  anymore, so just be aware that if you drop
  them in here, they won't work.
  */
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.
  
  ******************************************************************/
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  /*@import "partials/print";*/
}
