<div id="tool-bar" style="position: relative">
	<div class="row">
		<div class="col-xs-2 col-sm-5">
			<span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <a ng-click="vm.resetFilters()" class="fa fa-refresh fa-stack-1x fa-inverse"></a>
		    </span>
		</div>
		<div class="col-xs-2 center">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
		    	<a ng-click="vm.toggleSelection()" class="fa fa-align-justify fa-stack-1x fa-inverse"></a>
		    </span>
		</div>
		<!-- <div class="col-xs-8 col-sm-5 text-right">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
		    	<a ng-click="vm.showDownload()" class="fa fa-download fa-stack-1x fa-inverse"></a>
		    </span>
		    <span class="fa-stack fa-lg">
		    	<i class="fa fa-circle fa-stack-2x"></i>
		    	<a ng-click="vm.share('twitter')" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
		    </span>
		    <span class="fa-stack fa-lg">
		    	<i class="fa fa-circle fa-stack-2x"></i>
		    	<a ng-click="vm.share('linkedin')" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
		    </span>
		    <span class="fa-stack fa-lg">
		    	<i class="fa fa-circle fa-stack-2x"></i>
		   		<a ng-click="vm.share('facebook')" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
		   	</span>
		</div> -->
	</div>
	<div >
		<filter-selection-box ng-show="vm.showSelection" style="position: absolute; background-color: white; top: 49px;left: 0; width: 100%;z-index: 99999;"></filter-selection-box>
	</div>
</div>
