<div id="tool-bar">
    <a ng-click="vm.resetFilters()" class="glyphicon glyphicon-refresh"></a>
    <a ng-click="vm.showSelection()" class="glyphicon glyphicon-align-justify"></a>
    <a ng-click="vm.showDownload()" class="glyphicon glyphicon-download-alt"></a>
    <a ng-click="vm.share('twitter')" class="glyphicon glyphicon-question-sign glyphicon-twitter<todo>"></a>
    <a ng-click="vm.share('linkedin')" class="glyphicon glyphicon-question-sign glyphicon-linkedin<todo>"></a>
    <a ng-click="vm.share('facebook')" class="glyphicon glyphicon-question-sign glyphicon-facebook<todo>"></a>
</div>
