<div class="col-md-12" ng-show="vm.activities.length == 0">
    <div class="svg-loader">
        <img src="{{templateBaseUrl}}/images/spinning-circles.svg" width="70" alt="">
    </div>
</div>
<div class="col-md-12">
    <div class="sort">
        <div class="row">
            <div class="col-xs-4">
                resultaten {{vm.offset + 1}} - {{vm.maxShown()}} van {{vm.totalActivities}}
            </div>
        </div>
    </div>
</div>
<div class="activity-list-item" 
    ng-show="vm.activities.length != 0"
    dir-paginate="item in vm.sectors | itemsPerPage: 5"  
    pagination-id="sectorList">
        <div class="col-md-12">
            <div class="hp-block">
                <h1>{{ item.name }}</h1>
                <p><b>Budget:</b> {{item.total_disbursements  | currency :'€':0}}</p>
            </div>
        </div>
</div>
<div class="col-md-12 text-center pag">
    <dir-pagination-controls 
    pagination-id="sectorList" 
    on-page-change="pageChanged(newPageNumber)">
    </dir-pagination-controls>
</div>