<div id="main-content" class="container">
    
    <filter-bar 
        views="[{'id':'sectors', 'name': 'Bekijk visualisatie'}, {'id':'sector-list', 'name': 'Bekijk in lijst'}]"
        current-page="themas"></filter-bar>

    <!-- <top-navbar 
        search-value="vm.searchValue"
        submit-search="vm.submitSearch"></top-navbar> -->

    <div class="row">
        <div class="col-md-12">
            <div class="sector-vis-sunburst">
                <sunburst 
                    refresh-sunburst="vm.refreshSunburst" 
                    formatted-data="vm.sunburstData"></sunburst>
            </div>
        </div>
    </div>
</div>
