<div id="main-content" class="container">
    <detail-filter-bar></detail-filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h1>{{vm.sector.name}}</h1>
            </div>
        </div>
    </div>

    <sub-navbar tabs="vm.tabs" selected-tab="vm.selectedTab"></sub-navbar>

    <div ng-show="vm.selectedTab == 'samenvatting'">
    
        <div class="row">
            <!-- start linker kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Sector code</b><br>{{vm.sector.code}}</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit with-p-margin">
                            <p><b>Uitgaven per jaar</b></p>
                            <table class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="disbursement in vm.disbursements_by_year">
                                        <td>{{disbursement.transaction_date_year}}</td>
                                        <td>{{disbursement.total_disbursements | shortcurrency :'€'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><b>Budgetten per jaar</b></p>
                            <table class="table table-striped" ng-if="disbursement.transaction_date_year != 0" >
                                <tbody>
                                    <tr ng-repeat="disbursement in vm.disbursements_by_year">
                                        <td>{{disbursement.transaction_date_year}}</td>
                                        <td>{{disbursement.total_disbursements | shortcurrency :'€'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><b>Verplichtingen per jaar</b></p>
                            <table class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="commitment in vm.commitments_by_year">
                                        <td>{{commitment.transaction_date_year}}</td>
                                        <td>{{commitment.total_commitments | shortcurrency :'€'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>
            <!-- eind linker kolom -->

            <!-- start rechter kolom -->
            <div class="col-md-8">

                <div class="hp-block wit">
                    <h3>Transacties</h3>
                    <financials-line-chart 
                        has-to-contain="sectors__in">
                    </financials-line-chart>
                </div>

            </div>
            <!-- eind rechter kolom -->
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list 
            has-to-contain="sectors__in"  
            count="vm.tabs[1].count"
            shown="vm.selectedTab == 'activities'"></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'countries'">
        <country-list 
            has-to-contain="sectors__in" 
            count="vm.tabs[2].count"
            shown="vm.selectedTab == 'countries'"></country-list>
    </div>

    <div ng-show="vm.selectedTab == 'regions'">
        <region-list 
            has-to-contain="sectors__in" 
            count="vm.tabs[3].count"
            shown="vm.selectedTab == 'regions'"></region-list>
    </div>

    <div ng-show="vm.selectedTab == 'implementing-organisations'">
        <implementing-organisations-list 
            has-to-contain="sectors__in" 
            count="vm.tabs[4].count"
            shown="vm.selectedTab == 'implementing-organisations'"></implementing-organisations-list>
    </div>

</div>


