<div id="main-content" class="container">
    <filter-bar current-page="organisations"></filter-bar>

    <div class="row">
        <div class="col-md-12">
            <div id="sector-sunburst" class="hp-block spec clearfix">
                <div class="sector-vis-wrapper" style="width: 90%; margin: 0 auto;">
                    <div class="row">
                        <div class="col-md-12 sector-vis-text">
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sector-vis-header">
                                 Kanalen ontwikkelingssamenwerking Buitenlandse Zaken 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="locaties-visualisation">
                                <!-- <geo-visualisation 
                                    refresh-visualisation="vm.refreshVisualisation" 
                                    formatted-data="vm.visualisationData">
                                </geo-visualisation> -->

                                <img src="{{vm.templateBaseUrl}}/images/kanalen-preview.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
