<div id="main-content" class="container">

    <filter-bar current-page="organisations"></filter-bar>

    <top-navbar 
        views="[{'id':'organisations', 'name': 'Bekijk visualisatie'}, {'id':'organisation-list', 'name': 'Bekijk in lijst'}]"
        search-value="vm.searchValue"
        submit-search="vm.submitSearch"></top-navbar>

    <div class="row implementing-organisations-vis">
        <div class="col-md-12">
            <img 
                style="width: 100%; height: auto;" 
                src="{{vm.templateBaseUrl}}/images/kanalen-preview.png" 
                alt="">
        </div>
    </div>
</div>
