<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="row">
          <div class="col-md-4">
              <p class="main-placeholder">uitgave per organisatie vis</p>
          </div>
          <div class="col-md-4">
              <p class="main-placeholder">uitgave per kanaal vis</p>
          </div>
          <div class="col-md-4">
              <p class="main-placeholder">Uitgave per kanaal per regio</p>
          </div>
      </div>

 

      <div id="main-grouped-page-wrapper" class="white-background">

        <div class="row">
          <div class="col-md-6 no-padding-right">
            <implementing-organisation-list></implementing-organisation-list>
          </div>
          <div class="col-md-6 no-padding-left">
            <countries-map></countries-map>
          </div>
        </div>
      </div> 

    </div>
  </div>
</div>

