<div class="explore-block-header">Organisaties</div>
<div class="explore-block-content">
    <table class="table">
        <thead>
            <tr>
                <td>
                    <b>Ontvangende organisatie top 5</b>
                </td>
                <td>
                    <b>Ontvangen binnen de geselecteerde filters</b>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.visData | limitTo: 5">
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.total_disbursements | currency:"€":0 }}
                </td>
            </tr>
        </tbody>
    </table>
</div>