<div class="row">

    <div class="col-md-12" ng-show="vm.activities.length == 0">
        <div class="svg-loader">
            <img src="{{templateBaseUrl}}/images/spinning-circles.svg" width="70" alt="">
        </div>
    </div>
    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-xs-4">
                    resultaten {{vm.offset + 1}} - {{vm.maxShown()}} van {{vm.totalActivities}}
                </div>
            </div>
        </div>
    </div>

    <div class="activity-list-item" 
        ng-show="vm.activities.length != 0"
        dir-paginate="item in vm.organisations | itemsPerPage: 5"  
        pagination-id="organisationList">
        <div class="col-md-12">
            <div class="hp-block wit">
                <div class="row">
                    <div class="col-sm-4">
                        <h1><a ui-sref="organisation({ organisation_id: item.receiver_organisation_id })">{{ item.name }}</a></h1>
                    </div>
                    <div class="col-sm-4">
                        {{item.total_disbursements  | currency :'€':0}}
                    </div>
                    <div class="col-sm-4">
                        <a>XX projecten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center pag">
        <dir-pagination-controls 
        pagination-id="organisationList" 
        on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>

</div>