<div class="row">

    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-xs-4">
                    <span class="result-count">Results <span class="badge">{{vm.totalOrganisations}}</span></span>
                </div>
                <div class="col-xs-8 text-right">
<!--                     <label class="wrapper">
                      <div class="custom-select ff-hack"> -->
                        <select
                          ng-model="vm.order_by"
                          ng-change="vm.toggleOrder()">
                          <option value="name">Name (A - Z)</option>
                          <option value="-name">Name (Z - A)</option>
                          <option value="total_disbursements">Expenditure (increasing)</option>
                          <option value="-total_disbursements">Expenditure (decreasing)</option>
                        </select>
<!--                       </div>
                    </label>
                    <span class="result-count sortby">Sort by:</span> -->
                </div>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalOrganisations == 0' class="col-sm-12">
        <div class="hp-block wit">
            <h2>Nothing found</h2>
            <p>Please select some different filters.</p>
        </div>
    </div>

    <div class="col-md-12" infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' ng-if='vm.totalOrganisations != 0' >

        <div class="sort headers">
            <div class="row">
                <div class="col-sm-6">
                    <small>Organisation</small>
                </div>
                <div class="col-sm-3">
                    <small>Total disbursement</small>
                </div>
                <div class="col-sm-3">
                    <small>Total projects</small>
                </div>
            </div>
        </div>

        <div class="activity-list-item" 
            ng-show="vm.organisations.length != 0"
            ng-repeat="item in vm.organisations">
            <div class="hp-block wit">
                <div class="row organisations">
                    <div class="col-sm-6">
                        <h3 class="no-margin"><a ui-sref="organisation({ organisation_id: item.receiver_organisation_id })">{{ item.name }}</a></h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="no-margin">{{item.total_disbursements  | shortcurrency :'€'}}</h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="no-margin">{{item.activity_count}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>