<div id="main-content" class="container">

    <detail-topbar></detail-topbar>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h1>{{vm.organisation.name}}</h1>
                <p>Description. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div>
        </div>
    </div>

    <subnav-bar></subnav-bar>

    <div class="row">

        <!-- start linker kolom -->
        <div class="col-md-4">

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Organisatie identifier</b><br>XXX</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p>
                            <b>Uitgaven per jaar</b><br>
                            XXX<br>
                            XXX
                        </p>
                        <p>
                            <b>Budgetten per jaar</b><br>
                            XXX<br>
                            XXX
                        </p>
                        <p>
                            <b>Verplichtingen per jaar</b><br>
                            XXX<br>
                            XXX
                        </p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Land</b><br>XXX</p>
                        <p><b>Regio</b><br>XXX</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Sector code</b><br>XXX</p>
                        <p><b>Sector</b><br>XXX</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

        </div>
        <!-- eind linker kolom -->

        <!-- start rechter kolom -->
        <div class="col-md-8">

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <h3>Transacties</h3>
                        CHART
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

        </div>

        <!-- eind recher kolom -->
    </div>

    <!-- <div class="row">
        <div class="col-md-6">
            <div class="hp-block blauw">
                <h3>Donoren</h3>
                <span class="number">{{vm.donorCount}}</span>
            </div>
            <div class="hp-block wit">
                <h3>Totaal budget</h3>
                <span class="number">{{vm.totalBudget | currency :'€':0}}</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="hp-block blauw clickable" ng-click="vm.dashboard = 'landen'">
                <div class="expand">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-share fa-stack-1x fa-share"></i>
                    </span>
                </div>
                <h3>Aantal landen</h3>
                <span class="number">{{vm.countryCount}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hp-block blauw clickable" ng-click="vm.dashboard = 'sectors'">
                <div class="expand">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-share fa-stack-1x fa-share"></i>
                    </span>
                </div>
                <h3>Aantal sectoren</h3>
                <span class="number">{{vm.sectorCount}}</span>
            </div>
        </div>
    </div>

    <activity-list ng-show="vm.dashboard == 'list'"></activity-list>
    <div class="row" ng-show="vm.dashboard == 'charts'">
        <chart-wrapper></chart-wrapper>
    </div>
    <div class="row explore-block-content" ng-show="vm.dashboard == 'sectors'">
        <sector-list has-to-contain='participating_organisations__organisation__code__in'></sector-list>

    </div>
    <div class="row explore-block-content" ng-show="vm.dashboard == 'landen'">
        <country-list has-to-contain='participating_organisations__organisation__code__in'></country-list>
    </div> -->

</div>


