<div class="container">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="hp-block groen hp-block-top hp-home">
                <h1>Inzicht in ontwikkelingshulp<small>open data van de Rijksoverheid </small></h1>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                        <search-box current-page="homepage"></search-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                        <p>Op deze portal kunt u alle ontwikkelingshulpprojecten die door de Rijksoverheid zijn gefinancierd en als open data zijn gerapporteerd aan de IATI registry terugvinden. <a ui-sref="about">Meer weten?</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 map">
            <div class="geomap-mask">  
                <locations-geo-map legend='true'></locations-geo-map>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block no-padding wit clearfix top5">

                    <a class="glyphicon glyphicon-info-sign" ng-mouseover="hoverIn('landen')" ng-mouseleave="hoverOut('landen')">
                    </a>
                    <div 
                    class="glyphicon-popup" 
                    ng-show="vm.customFields['landen'].hoverShow" 
                    ng-bind-html="vm.customFields['landen']['text']">
                    </div>

                    <oipa-table-chart 
                        aggregation-filters='vm.tableChartOptions.aggregationFilters' 
                        group-by='vm.tableChartOptions.groupBy' 
                        group-by-id='vm.tableChartOptions.groupById' 
                        aggregation-key='vm.tableChartOptions.aggregationKey' 
                        aggregation-extra-select='vm.tableChartOptions.aggregationExtraSelect' 
                        aggregation-extra-select-in='vm.tableChartOptions.aggregationExtraSelectIn' 
                        refresh-data='vm.refreshTableChart' 
                        shown-ids='vm.shownIds'
                    ></oipa-table-chart>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
             <oipa-line-chart 
                aggregation-filters='vm.shownIds' 
                group-by='vm.lineChartOptions.groupBy' 
                group-by-id='vm.lineChartOptions.groupById' 
                aggregation-key='disbursement' 
                chart-x-axis='' 
                chart-y-axis='Uitgaven'
                chart-y-axis-euro-format='true' 
                chart-x-axis-stagger-labels='false' 
                chart-type='lineChart'
                axis-label-distance='28'></oipa-line-chart>
            </div>
        </div>
    </div>
</div>



