
    <div id="front-carousel" class="carousel slide" data-ride="carousel" data-pause="hover">
      <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#front-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#front-carousel" data-slide-to="1"></li>
            <li data-target="#front-carousel" data-slide-to="2"></li>
            <li data-target="#front-carousel" data-slide-to="3"></li>
            <li data-target="#front-carousel" data-slide-to="4"></li>
        </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active" id="item1">
            <div class="inner-wrap">
                <div class="middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="hp-block hp-block-top hp-home">
                                    <h1>Start tracking Dutch development aid<small>Open data of the Ministry of Foreign Affairs</small></h1>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                                            <search-box current-page="homepage"></search-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="credits hidden-xs">
                    <p><b>International Women's Day</b><br>
                    March 2013: nearly 500 men and women in Al Koma village, North Darfur. some 80 kilometers west of El Fasher, celebrated International Women's Day.<br>
                    <a href="https://www.flickr.com/photos/unamid-photo/8564068729/in/photolist-e3M6gp-ghDpw4-cjaYew-9dBdUT-kfqWCX-diWZgu-eYzbNX-9tFXao-ausDGH-coZVZU-cn4oZq-dAs6VK-fJnZJb-dCY3ZB-dAGbxD-i2HMCW-g6Yka7-8odJRW-cQP1mQ-qRwX4D-dK5aQ6-gwG1Pi-ejHEnb-e3M3gD-ghDpjv-gah26z-c8h6PS-cEuehf-gwGWLD-gwH5Xi-ejHEEw-d8aArN-artfLE-arr9JB-cP7qxm-dkdkup-dnEf2M-f2Pmvm-eYLpad-8zsSbA-mxuW8m-8Aisa4-gwGQaR-bq4oMa-dkNHhh-kbCrBw-hiWcDj-cVdKz3-diX2is-gwFF6o/" target="_blank">Photo by Albert González Farran, UNAMID</a>.</p>
                </div>
            </div>
        </div>

        <div class="item" id="item2">
            <div class="inner-wrap">
                <div class="middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1>Check all aid development projects</h1>
                                <a class="callout" ui-sref="activities">
                                    View project map
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" id="item3">
            <div class="inner-wrap">
                <div class="middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1>Find out in what aid projects take place in which countries</h1>
                                <a class="callout" ui-sref="locations-map">
                                    View country map
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" id="item4">
            <div class="inner-wrap">
                <div class="middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1>What kind of regional expenditures have been made?</h1>
                                <a class="callout" ui-sref="regions-vis">
                                    View visualisation
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" id="item5">
            <div class="inner-wrap">
                <div class="middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1>Easily search projects within sectors</h1>
                                <a class="callout" ui-sref="sectors">
                                    View visualisation
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <!-- <a class="left carousel-control" href="#front-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#front-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->

</div>

<div class="container homepage">

   <!-- <hr class="hidden-xs" style="margin-bottom:30px;">

    <div class="row plaatjes">
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="activities">
                <div class="text">
                    <h4>Project map</h4>
                    <p>View an overview of all projects on a map</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="locations-map">
                <div class="text">
                    <h4>Country map</h4>
                    <p>View the countries we support on a map</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="regions-vis">
                <div class="text">
                    <h4>Region visualisation</h4>
                    <p>Interact with a visual overview of the regions we support</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="sectors">
                <div class="text">
                    <h4>Sector visualisation</h4>
                    <p>Interact with a visual overview of the sectors we support</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>

    </div>

    <hr class="hidden-xs" style="margin-top:15px;"> -->

     <div class="row hidden-xs">
        <div class="col-md-12 top5header">
            <h2>Top 5 IATI visualisations</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block no-padding wit clearfix top5">
                <oipa-table-chart 
                    aggregation-filters='vm.tableChartOptions.aggregationFilters' 
                    group-by='vm.tableChartOptions.groupBy' 
                    group-by-id='vm.tableChartOptions.groupById' 
                    group-sref='vm.tableChartOptions.groupSref' 
                    aggregation-key='vm.tableChartOptions.aggregationKey' 
                    aggregation-extra-select='vm.tableChartOptions.aggregationExtraSelect' 
                    aggregation-extra-select-in='vm.tableChartOptions.aggregationExtraSelectIn' 
                    refresh-data='vm.refreshTableChart' 
                    shown-ids='vm.shownIds' 
                    top-five='vm.top5' 
                    activity-status='vm.activityStatus' 
                    transaction-year='vm.transactionYear' ></oipa-table-chart>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit hp-line-chart-wrapper">
             <oipa-line-chart 
                aggregation-filters='vm.shownIds' 
                has-to-contain='' 
                group-by='vm.lineChartOptions.groupBy' 
                group-by-id='vm.lineChartOptions.groupById' 
                aggregation-key='disbursement' 
                chart-x-axis='' 
                chart-y-axis='Expenditure' 
                chart-y-axis-euro-format='true' 
                chart-x-axis-stagger-labels='false' 
                chart-type='multiBarChart' 
                axis-label-distance='28'></oipa-line-chart>
            </div>
        </div>
    </div>
</div>



