<div class="container homepage">
    <div class="row">
        <div class="col-sm-12">
            <div class="hp-block hp-block-top hp-home">
                <h1>Insight into Dutch development aid<small>open data of the Ministry of Foreign Affairs</small></h1>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                        <search-box current-page="homepage"></search-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <p>At this transparency portal you can find every development cooperation activity supported by the <a href="https://www.rijksoverheid.nl/opendata/ontwikkelingssamenwerking" target="_blank">Dutch Ministry of Foreign Affairs</a> since 2010. The portal enables you to find the activities in specific countries or regions, in sectors or by implementing organisation.</p>
                        <p>The data are reported as <a href="http://www.iatiregistry.org/publisher/minbuza_nl" target="_blank">open data to the IATI registry</a> and were last updated on 2015-12-09 10:00. The total number of projects is <a ui-sref="activities">5819</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <hr class="hidden-xs" style="margin-bottom:30px;">

    <div class="row hidden-xs plaatjes">
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="activities">
                <div class="text">
                    <h4>Project map</h4>
                    <p>View an overview of all projects on a map</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="locations-map">
                <div class="text">
                    <h4>Country map</h4>
                    <p>View the countries we support on a map</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="regions-vis">
                <div class="text">
                    <h4>Region visualisation</h4>
                    <p>Interact with a visual overview of the regions we support</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a class="callout" ui-sref="sectors">
                <div class="text">
                    <h4>Sector visualisation</h4>
                    <p>Interact with a visual overview of the sectors we support</p>
                </div>
                <div class="overlay"></div>
            </a>
        </div>

    </div>

    <hr class="hidden-xs" style="margin-top:15px;">

     <div class="row hidden-xs">
        <div class="col-md-12 top5header">
            <h2>Top 5 IATI visualisations</h2>
        </div>
    </div>

    <div class="row hidden-xs">
        <div class="col-md-12">
            <div class="hp-block no-padding wit clearfix top5">
                <oipa-table-chart 
                    aggregation-filters='vm.tableChartOptions.aggregationFilters' 
                    group-by='vm.tableChartOptions.groupBy' 
                    group-by-id='vm.tableChartOptions.groupById' 
                    group-sref='vm.tableChartOptions.groupSref' 
                    aggregation-key='vm.tableChartOptions.aggregationKey' 
                    aggregation-extra-select='vm.tableChartOptions.aggregationExtraSelect' 
                    aggregation-extra-select-in='vm.tableChartOptions.aggregationExtraSelectIn' 
                    refresh-data='vm.refreshTableChart' 
                    shown-ids='vm.shownIds' 
                    top-five='vm.top5' 
                    activity-status='vm.activityStatus' 
                    transaction-year='vm.transactionYear' ></oipa-table-chart>
            </div>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-12">
            <div class="hp-block wit hp-line-chart-wrapper">
             <oipa-line-chart 
                aggregation-filters='vm.shownIds' 
                has-to-contain='' 
                group-by='vm.lineChartOptions.groupBy' 
                group-by-id='vm.lineChartOptions.groupById' 
                aggregation-key='disbursement' 
                chart-x-axis='' 
                chart-y-axis='Expenditure' 
                chart-y-axis-euro-format='true' 
                chart-x-axis-stagger-labels='false' 
                chart-type='multiBarChart' 
                axis-label-distance='28'></oipa-line-chart>
            </div>
        </div>
    </div>
</div>



