
<nav class="navbar navbar-default" ng-controller="NavbarController as vm">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      
      <!-- <span class="visible-xs-inline-block mobilenav" ui-sref-active="active"><a class="" ui-sref="about">About Openaid</a></span> -->

      <a class="navbar-brand" href="{{ homeUrl }}">
        <img ng-src="{{templateBaseUrl}}/images/openaidnl-logo.png" /><span class="version">v1.1</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="home" ui-sref-active="active">
          <a class="show-on-big" ui-sref="home"><i class="glyphicon glyphicon-home"></i></a>
          <a class="show-on-small collapse" ui-sref="home"><i class="glyphicon glyphicon-home"></i></a>
        </li>
        <li  
          ng-class="{'active': vm.stateName == 'activities'}">
          <a class="show-on-big" ui-sref="activities">Projects</a>
          <a class="show-on-small collapse" ui-sref="activities">Projects</a>
        </li>
        <li 
          ng-class="{'active': vm.stateName == 'locations'}">
          <a class="show-on-big" ui-sref="locations-map">Countries</a>
          <a class="show-on-small collapse" ui-sref="locations-map">Countries</a>
        </li>
        <li 
          ng-class="{'active': vm.stateName == 'regions'}">
          <a class="show-on-big" ui-sref="regions-vis">Regions</a>
          <a class="show-on-small collapse" ui-sref="regions-vis">Regions</a>
        </li>
        <li 
          ng-class="{'active': vm.stateName == 'sectors'}">
          <a class="show-on-big" ui-sref="sectors">Sectors</a>
          <a class="show-on-small collapse" ui-sref="sectors">Sectors</a>
        </li>
        <li 
          ng-class="{'active': vm.stateName == 'organisations'}">
          <a class="show-on-big" ui-sref="organisations">Organisations</a>
          <a class="show-on-small collapse" ui-sref="organisations">Organisations</a>
        </li>
        <li 
          ng-class="{'active': vm.stateName == 'search'}">
          <a class="show-on-big" ui-sref="search">Search</a>
          <a class="show-on-small collapse" ui-sref="search">Search</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
          <a class="show-on-big" ui-sref="about">About</a>
          <a class="show-on-small collapse" ui-sref="about">About</a>
        </li>
        <li ui-sref-active="active">
          <a class="show-on-big" ui-sref="contact">Contact</a>
          <a class="show-on-small collapse" ui-sref="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
