
<nav class="navbar navbar-default" ng-controller="NavbarController as vm">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed hidden-xs" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      
      <span class="visible-xs-inline-block mobilenav" ui-sref-active="active"><a class="" ui-sref="about">Over Openaid</a></span>

      <a class="navbar-brand" href="{{ homeUrl }}">
        <img src="{{templateBaseUrl}}/images/openaidnl-logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="home hidden-xs" ui-sref-active="active"><a class="" ui-sref="home"><i class="glyphicon glyphicon-home"></i></a></li>
        <li  
          ng-class="{'active': vm.stateName == 'activities'}" 
          class="hidden-xs">
          <a class="" ui-sref="activities">Projects</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'locations'}" 
          class="hidden-xs">
          <a class="" ui-sref="locations-map">Countries</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'regions'}" 
          class="hidden-xs">
          <a class="" ui-sref="regions-list">Regions</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'sectors'}" 
          class="hidden-xs"><a class="" ui-sref="sectors">Sectors</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'organisations'}" 
          class="hidden-xs"><a class="" ui-sref="organisations">Organisations</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'search'}" 
          class="hidden-xs"><a class="" ui-sref="search">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a class="" ui-sref="about">About Openaid</a></li>
      </ul>
    </div>
  </div>
</nav>
