/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

// .legend {
// 	float: none;
// 	width: auto;
// 	text-align: left;
// 	position: absolute;
// 	left:15px;
// 	top:15px;
// 	background:none;
// 	padding:0;
// 	.check {
// 		float: none;
// 		display: block;
// 		margin-bottom: 10px;
// 	}
// }

.filters-fixed {
  .container {
    width: 940px;
  }
}

.navbar {
  .nav.navbar-nav {
    li {
      &.home {
        line-height: 52px;
      }
    }
    &.navbar-right {
      li {
        margin:0;
        &:first-of-type {
          margin-right:20px;
        }
      }
    }
  }
}

.collapsed-left {
  padding-left:0;
}
.collapsed-right {
  padding-right:0;
}

.navbar{
  .nav.navbar-nav {
    &.navbar-right {
      .active {
        a {
          color:#fff;
        }
      }
      a {
        color:#808080;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}