/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

// .legend {
// 	float: none;
// 	width: auto;
// 	text-align: left;
// 	position: absolute;
// 	left:15px;
// 	top:15px;
// 	background:none;
// 	padding:0;
// 	.check {
// 		float: none;
// 		display: block;
// 		margin-bottom: 10px;
// 	}
// }