/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


.pagination {
	li {
		a {
			transition:all 0.2s;
			&:hover,&:focus,&:active {
				background-color: $oranje;
				color:#fff;
			}
		}
	    &.active {
			a {
				background-color: $oranje;
				&:hover,&:focus,&:active {
					background-color: $oranje;
					}
				}
			}
	    &:first-of-type, &:last-of-type {
			a {
				&:hover {
					background-color: transparent;
					color: $oranje;
				}
			}
		}
	}
}

.filter-panel {
	.btn-save {
		transition:all 0.2s;
		&:hover {
			background: darken($gifgroen,10%);
		}
	}
}

.actions {
	.filters {
		span {
			.fa-circle {
				transition:all 0.2s;
			}
			&:hover {
				.fa-circle {
					color:rgba(#738191,1);
				}
			}
		}
	}
	.dash {
	    a, span {
		    .fa-circle {
		    	transition:all 0.2s;
		    }
		      &:nth-of-type(2) {
		      	&:hover {
			        .fa-circle {
			          color:rgba($icon-grn,1);
			        }
			    }
		    }
			&:nth-of-type(3) {
				&:hover {
				    .fa-circle {
				      color:rgba($roze,1);
				    }
				}
			}
			&:nth-of-type(4) {
				&:hover {
				    .fa-circle {
						color:rgba($blauw,1);
				    }
				}
			}
		}
	}
}

// .filter-box {
//   .btn {
//   	.fa {
//   		transition:all 0.2s;
//   	}
//   	&:hover {
//   		.fa {
//   			transform: scale(1.3);
//   		}
//   	}
//   }
// }

#tool-bar{
	span {
		.fa-circle {
			transition:all 0.2s;
		}
		&:hover {
			.fa-circle {
		    	color: rgba($icon-grn, 1);
			}
		}
	}	
}

.btn-default {
	transition:all 0.2s;
	&:hover {
		color:#fff;
		background: rgba($oranje,1);
	}
}

.hp-block.clickable {
	transition:all 0.2s;
	&:hover {
		background-color: rgba($blauw,.6)
	}
	&.groen {
		&:hover {
			background-color: rgba($groen,.6)
		}
	}
}

.eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.makeblock {
  display: inline;
  margin-top:0;
}

//map viz
// .legend {
//   label {
//   	margin-bottom: 0;
//   }
//   input[type=checkbox] { 
//     & + label:before {
//       transition:all .2s;
//       font-size:24px;
//       margin-right: 10px;
//       width: 34px;
//       height: 34px;
//       line-height: 34px;
//       border-radius: 17px;
//       text-indent: 10px;
//     }
//   }
//   .check:hover {
// 		input[type=checkbox] { 
// 		    & + label:before {
// 		    	opacity: 1;
// 		    }
// 		}
// 	}
// }

.info {
  padding: 0;
  position: absolute; 
  width: 250px;
  height: 250px; 
  border-radius: 125px;
  text-align: center;
  left: 50%;
  top: 20px;
  margin-left: 180px;
  z-index: 9999;
  .flag-icon {
    margin-top:.5em;
  }
}

.geomap-mask {
  // -webkit-clip-path: url(#clipping);
  // -moz-clip-path: url(#clipping);
  // -ms-clip-path: url(#clipping);
  // clip-path: url(#clipping);
  // height:600px;
  // width: 600px;
  // display: inline-block;
  // overflow: hidden;
  // background-color: rgba(41,171,226,0.85);

  // -moz-clip-path: circle(300px at center);
  // -webkit-clip-path: circle(300px at center);
  // -ms-clip-path: circle(300px at center);
  // clip-path: circle(300px at center);

  // border-radius: 300px;
  // -moz-border-radius: 300px;
  // -khtml-border-radius: 300px;
  // -webkit-border-radius: 300px;
  // overflow: hidden;

  // margin:0 auto;
  // width: 600px;

}

.navbar .btn.btn-default, .navbar .btn-group .btn {
	margin-right: 10px;
}

.navbar{
  .nav.navbar-nav {
    &.navbar-right {
      .active {
        a {
          color:#fff;
        }
      }
      a {
        color:#808080;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#openaid-main {
  padding-top:53px;
}

.search-suggest-box{
  left: 16px; 
  width: 120%; 
}

//navbar alignment, want menu wat breed
.navbar-header {
	margin:0 auto;
}

.navbar-collapse {
	padding:0;
}

.filters-fixed {
	&.fixed {
		top:47px;
	}
  .container {
    width: 720px;
  }
}
.social {
	margin-top:6px;
	margin-bottom: 0;
}