/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


.pagination {
	li {
		a {
			transition:all 0.2s;
			&:hover {
				background-color: darken($blauw,10%);
				color:#fff;
			}
		}
	    &.active {
			a {
				&:hover {
					background-color: darken($icon-grn,10%);
					}
				}
			}
	    &:first-of-type, &:last-of-type {
			a {
				&:hover {
					background-color: transparent;
					color: darken($blauw,10%);
				}
			}
		}
	}
}

.filter-panel {
	.btn-save {
		transition:all 0.2s;
		&:hover {
			background: darken($gifgroen,10%);
		}
	}
}

.actions {
	.filters {
		span {
			.fa-circle {
				transition:all 0.2s;
			}
			&:hover {
				.fa-circle {
					color:rgba($icon-grn,1);
				}
			}
		}
	}
	.dash {
	    span {
		    .fa-circle {
		    	transition:all 0.2s;
		    }
		      &:nth-of-type(2) {
		      	&:hover {
			        .fa-circle {
			          color:rgba($icon-grn,1);
			        }
			    }
		    }
			&:nth-of-type(3) {
				&:hover {
				    .fa-circle {
				      color:rgba($roze,1);
				    }
				}
			}
			&:nth-of-type(4) {
				&:hover {
				    .fa-circle {
						color:rgba($blauw,1);
				    }
				}
			}
		}
	}
}

.filter-box {
  .btn {
  	transition:all 0.2s;
  	&.selectedCountries {
  		&:hover {
      		background: darken(#00a315,10%);
      	}
    }
    &.selectedRegions {
    	&:hover {
      		background: darken(#0083cb,10%);
      	}
    }
    &.selectedSectors {
    	&:hover {
      		background: darken(#93278f,10%);
      	}
    }
    &.selectedImplementingOrganisations {
    	&:hover {
      		background: darken(#d14a95,10%);
      	}
    }
    &.selectedActivityStatuses {
    	&:hover {
      		background: darken(#fb943b,10%);
      	}
    }
  	&:hover {
  		.fa {
  			transform: scale(1.3);
  		}
  	}
  }
}

#tool-bar{
	span {
		.fa-circle {
			transition:all 0.2s;
		}
		&:hover {
			.fa-circle {
		    	color: rgba($icon-grn, 1);
			}
		}
	}	
}

.btn-default {
	transition:all 0.2s;
	&:hover {
		color:#fff;
		background: rgba($blauw,1);
	}
}

.activity-list-item {
	.hp-block {
		transition:all 0.2s;
	}
	&:hover {
		.hp-block {
			background-color: rgba($blauw,.4)
		}
	}
}

.legend {
	.check:hover {
		input[type=checkbox] { 
		    & + label:before {
		    	opacity: 1;
		    }
		}
	}
}

.eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.makeblock {
  display: inline;
  margin-top:0;
}

//map viz
.legend {
  position: absolute;
  left:14px;
  top:14px;
  z-index: 999;
  background: none;
  input[type=checkbox] { 
    & + label:before {
      transition:all .2s;
      font-size:24px;
      margin-right: 10px;
      width: 34px;
      height: 34px;
      line-height: 34px;
      border-radius: 17px;
      text-indent: 10px;
    }
  }
}

.info {
  padding: 0;
  position: absolute; 
  width: 250px;
  height: 250px; 
  border-radius: 125px;
  text-align: center;
  left: 50%;
  top: 20px;
  margin-left: 180px;
  z-index: 9999;
  .flag-icon {
    margin-top:.5em;
  }
}

.geomap-mask {
  -webkit-clip-path: circle(300px at center);
  -moz-clip-path: circle(300px at center);
  -ms-clip-path: circle(300px at center);
  clip-path: circle(300px at center);
  height:600px;
  width: 600px;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(41,171,226,0.85);
}