<div id="main-content" class="container activity">

    <detail-topbar></detail-topbar>

    <div class="row">
        <div class="col-md-12">       

            <div class="row">
                <div class="col-xs-12">
                    <div class="rel">
                        <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
                        <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
                        <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
                        <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('implementing_organisations')"></filter-panel-implementing-organisations>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h1>{{vm.activity.titles[0].title}}</h1>
                <p>{{vm.activity.descriptions[0].description}}</p>
            </div>
        </div>
    </div>

    <subnav-bar></subnav-bar>

    <!-- KAART HIER -->

    <div class="row">
        <!-- start linker kolom -->
        <div class="col-md-4">

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>IATI identifier</b><br>XXX</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->
            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Laatste update</b><br>XXX</p>
                        <p><b>Startdatum</b><br>{{vm.activity.start_actual}}</p>
                        <p><b>Einddatum</b><br>{{vm.activity.end_actual}}</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->
            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Website</b><br>Niet beschikbaar</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

        </div>
        <!-- eind linker kolom -->

        <!-- start midden kolom -->
        <div class="col-md-4">

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Status</b><br>{{vm.activity.activity_status.name}}</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->
            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Budget</b><br>{{vm.activity.total_budget | currency :'€':0}}</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->
            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Rapporterende organisatie</b><br>Niet beschikbaar</p>
                        <p><b>Deelnemende organisaties</b><br>Niet beschikbaar</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

        </div>
        <!-- eind midden kolom -->

        <!-- start rechter kolom -->
        <div class="col-md-4">

            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Land</b><br><a ui-sref="land({ country_id: country.code })">{{country.name}}</a></p>
                        <p><b>Regio</b><br>Niet beschikbaar</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->
            <!--start van een wit blokje -->
            <div class="row">
                <div class="col-sm-12 activity-list-item">
                    <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                        <p><b>Sector</b><br>Niet beschikbaar</p>
                        <p><b>Sector code</b><br>Niet beschikbaar</p>
                    </div>
                </div>
            </div>
            <!-- eind van een wit blokje -->

        </div>
        <!-- eind rechter kolom -->
    </div>



    <!-- voor op transacties page -->
    <div class="row">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h3>Transacties</h3>
                <nvd3 options="vm.transactionChartOptions" data="vm.transactionData" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </div>
    </div>


    <!-- voor op documenten page -->
    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h3>Documenten</h3>

                <div ng-show="vm.activity.documents.length == 0">
                    Geen documenten beschikbaar.
                </div>

                <table class="table documents">
                    <tbody>
                        <tr ng-repeat="document in vm.activity.documents">
                            
                            <td>
                                <a href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col-md-12">
            <div class="hp-block finance">
                <h3>Financieel overzicht</h3>

                <nvd3 options="vm.transactionChartOptions" data="vm.transactionData" class="with-3d-shadow with-transitions"></nvd3>

                <table class="table">
                    <thead>
                        <td>Transactie type</td>
                        <td>Verstrekkende organisatie</td>
                        <td>Ontvangende organisatie</td>
                        <td>Bedrag</td>
                        <td>Datum</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.activity.transactions">
                            <td>
                                {{transaction.transaction_type}}
                            </td>
                            <td>
                                {{transaction.provider_organisation_name}}
                            </td>
                            <td>
                                {{transaction.receiver_organisation_name}}
                            </td>
                            <td>
                                {{transaction.value | openaidcurrency :'€':0:".":"."}}
                            </td>
                            <td>
                                {{transaction.transaction_date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->


   <!--  <div class="row" ng-show="vm.showDetails == true">
        <div class="col-md-12">
            <div class="hp-block">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="(key, value) in vm.activity">
                            <td>
                                {{key}}
                            </td>
                            <td>
                                {{value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>


