<div id="main-content" class="container activity">
   
    <div class="row">
        <div class="col-xs-9">
            <h1 class="title">{{vm.activity.titles[0].title}}</h1>
        </div>
         <!-- <detail-filter-bar 
            activity-id="vm.activityId" 
            current-page="activity">
        </detail-filter-bar> -->
    </div>

    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>

    
    <div ng-show="vm.selectedTab == 'summary'">

        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>

        <div class="row summary-report">

            <div class="col-md-8">

                <div class="hp-block wit">
                    <h3>Description</h3>
                    <p>{{vm.activity.descriptions[0].description}}</p>
                </div>

                <div class="hp-block wit with-table">
                    <h3>Project details</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="200">Planned start date:</td>
                                <td>{{vm.activity.start_planned.length ? vm.activity.start_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Planned end date:</td>
                                <td>{{vm.activity.end_planned.length ? vm.activity.end_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Countries:</td>
                                <td>
                                    <a ng-repeat="country in vm.activity.countries" ui-sref="country({ country_id: country.code })">
                                        {{country.name}}
                                    </a>
                                    <span ng-if='vm.activity.countries.length == 0'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Regions:</td>
                                <td>
                                    <a ng-repeat="region in vm.activity.regions" ui-sref="region({ region_id: region.code })">
                                        {{region.name}}
                                    </a>
                                    <span ng-if='vm.activity.regions.length == 0'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Sectors:</td>
                                <td><a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].name}}</a></td>
                            </tr>
                            <tr>
                                <td>Estimated budget:</td>
                                <td>
                                    <span ng-if='vm.activity.total_budget.length'>{{vm.activity.total_budget | shortcurrency :'€'}}</span>
                                    <span ng-if='!vm.activity.total_budget.length'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Participating organisations:</td>
                                <td><span ng-repeat='org in vm.activity.participating_organisations'><a ui-sref="organisation({ organisation_id: org.code })">{{org.name}}</a>{{$last ? '' : ', '}}</span></td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{vm.activity.activity_status.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-4">

                <div class="hp-block wit with-table">
                    <h3>Information</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="120">IATI identifier:</td>
                                <td>{{vm.activity.iati_identifier}}</td>
                            </tr>
                            <tr>
                                <td>Last update:</td>
                                <td>{{vm.activity.last_updated_datetime | date : 'dd MMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="hp-block wit with-table">
                    <h3>Export & share</h3>
                    <detail-filter-bar 
                        activity-id="vm.activityId" 
                        current-page="activity">
                    </detail-filter-bar>
                </div>  

            </div>
        </div>
    </div>

    <!-- voor op transacties page -->
    <div class="row" ng-if="vm.selectedTab == 'transactions'">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h3>Transactions</h3>
                <nvd3 options="vm.transactionChartOptions" data="vm.transactionData" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </div>

        <div class="col-md-6 activity-list-item">
            <div class="hp-block wit financial extra">
                <h3>Expenditure</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receiving organisation</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.activity.transactions | orderBy:'transaction_date'" ng-if="transaction.transaction_type == 'D'">
                            <td>{{transaction.transaction_date | date : 'dd MMM yyyy'}}</td>
                            <td>{{transaction.receiver_organisation_name}}</td>
                            <td>{{transaction.value | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 activity-list-item">
            <div class="hp-block wit financial extra">
                <h3>Commitments</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receiving organisation</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.activity.transactions | orderBy:'transaction_date'" ng-if="transaction.transaction_type == 'C'">
                            <td>{{transaction.transaction_date | date : 'dd MMM yyyy'}}</td>
                            <td>{{transaction.receiver_organisation_name}}</td>
                            <td>{{transaction.value | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>

    <div class="row full-report" ng-if="vm.selectedTab == 'fullreport'">
        <div class="col-sm-12">

            <div class="hp-block wit with-table">
                <h3>Dates & description</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td width="250">IATI identifier:</td>
                            <td>{{vm.activity.iati_identifier}}</td>
                        </tr>
                        <tr>
                            <td>Other identifiers:</td>
                            <td>
                                <a ng-repeat="other_identifier in vm.activity.other_identifier">
                                    {{other_identifier.name}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{vm.activity.titles[0].title}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{vm.activity.descriptions[0].description}}</td>
                        </tr>
                        <tr>
                            <td>Last update:</td>
                            <td>{{vm.activity.last_updated_datetime | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date planned:</td>
                            <td>{{vm.activity.start_planned.length ? vm.activity.start_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date actual:</td>
                            <td>{{vm.activity.start_actual.length ? vm.activity.start_actual : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date planned:</td>
                            <td>{{vm.activity.end_planned.length ? vm.activity.end_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date actual:</td>
                            <td>{{vm.activity.end_actual.length ? vm.activity.end_actual : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Related organisations & details</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Reporting organisations:</td>
                            <td>{{vm.activity.reporting_organisation.name}}</td>
                        </tr>
                        <tr>
                            <td>Participating organisations:</td>
                            <td><span ng-repeat='org in vm.activity.participating_organisations'><a ui-sref="organisation({ organisation_id: org.code })">{{org.name}}</a>{{$last ? '' : ', '}}</span></td>
                        </tr>
                        <tr>
                            <td>Tied status:</td>
                            <td>
                                <span ng-if='vm.activity.default_tied_status.name.length'>{{vm.activity.default_tied_status.name}}</span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Collaboration type:</td>
                            <td>
                                <span ng-if='vm.activity.collaboration_type.name.length'>{{vm.activity.collaboration_type.name}}</span>
                                <span ng-if='!vm.activity.collaboration_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Aid type:</td>
                            <td>
                                <span ng-if='vm.activity.default_aid_type.name.length'>{{vm.activity.default_aid_type.name}}</span>
                                <span ng-if='!vm.activity.default_aid_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Hierarchy:</td>
                            <td>
                                <span ng-if='vm.activity.hierarchy'>{{vm.activity.hierarchy}}</span>
                                <span ng-if='!vm.activity.hierarchy'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Activity details</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Status:</td>
                            <td>{{vm.activity.activity_status.name}}</td>
                        </tr>
                        <tr>
                            <td width="250">Scope:</td>
                            <td>
                                <span ng-if='vm.activity.activity_scope.name.length'>{{vm.activity.activity_scope.name}}</span>
                                <span ng-if='!vm.activity.activity_scope.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Related activities:</td>
                            <td>
                                <a ng-repeat="act in vm.activity.related_activities">
                                    {{act.id}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Websites:</td>
                            <td>
                                <a ng-repeat="website in vm.activity.websites">
                                    {{website.name}}
                                </a>
                                <span ng-if='vm.activity.websites.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Linked data URI:</td>
                            <td>
                                <span ng-if='vm.activity.linked_data_uri.length'>{{vm.activity.linked_data_uri}}</span>
                                <span ng-if='!vm.activity.linked_data_uri.length'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Locations & sectors</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Countries:</td>
                            <td>
                                <a ng-repeat="country in vm.activity.countries" ui-sref="country({ country_id: country.code })">
                                    {{country.name}}
                                </a>
                                <span ng-if='vm.activity.countries.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Regions:</td>
                            <td>
                                <a ng-repeat="region in vm.activity.regions" ui-sref="region({ region_id: region.code })">
                                    {{region.name}}
                                </a>
                                <span ng-if='vm.activity.regions.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Locations:</td>
                            <td>
                                <span ng-repeat="location in vm.activity.locations" >
                                    {{location.name}},
                                </span>
                                <span ng-if='vm.activity.locations.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Sector:</td>
                            <td><a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].name}}</a></td>
                        </tr>
                        <tr>
                            <td>Sector code:</td>
                            <td><a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].code}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Financial information</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Estimated budget:</td>
                            <td>
                                <span ng-if='vm.activity.total_budget.length'>{{vm.activity.total_budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.activity.total_budget.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Capital spent:</td>
                            <td>
                                <span ng-if='vm.activity.activity_scope.name.length'>{{vm.activity.capital_spend.percentage}}</span>
                                <span ng-if='!vm.activity.activity_scope.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Finance type:</td>
                            <td>
                                <span ng-if='vm.activity.default_finance_type.name.length'>{{vm.activity.default_finance_type.name}}</span>
                                <span ng-if='!vm.activity.default_finance_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Flow type:</td>
                            <td>
                                <span ng-if='vm.activity.default_flow_type.name.length'>{{vm.activity.default_flow_type.name}}</span>
                                <span ng-if='!vm.activity.default_flow_type.name.length'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table triple">
                <h3>Policy markers</h3>
                <table class="table table-striped vertical-border">
                    <thead>
                        <tr>
                            <th>Marker</th>
                            <th width="160" class="text-center">Principal objective</th>
                            <th width="160" class="text-center">Significant objective</th>
                            <th width="160" class="text-center">Not targeted</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr ng-repeat="marker in vm.activity.policy_markers">
                            <td>{{marker.policy_marker.name}}</td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 2"><i class="fa fa-check"></i></span>
                            </td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 1"><i class="fa fa-check"></i></span>
                            </td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 0"><i class="fa fa-check"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table triple">
                <h3>Results</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td>
                                <a ng-repeat="result in vm.activity.results">
                                    {{result.name}}
                                </a>
                                <span ng-if='vm.activity.results.length == 0'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- voor op documenten page -->
    <div class="row" ng-show="vm.selectedTab == 'documents'">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h3>Documents</h3>

                <div ng-show="vm.activity.documents.length == 0">
                    No documents available.
                </div>
                <table class="table documents" ng-if="vm.activity.documents.length != 0">
                    <tbody>
                        <tr ng-repeat="document in vm.activity.documents">
                            
                            <td>
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.selectedTab == 'thirdparty'">
        <div class="col-md-12">

            <div class="hp-block wit" ng-if="vm.providedActivities.length">
                <h3>Funded projects in IATI</h3>
                <table class="table table-striped provided-activities-table">
                    <thead>
                        <th class="col-sm-6">
                            Title
                        </th>
                        <th class="col-sm-3">
                            Reporting organisation
                        </th>
                        <th class="col-sm-3">
                            IATI identifier
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="providerActivity in vm.providedActivities">
                            <td class="col-sm-6">
                                {{providerActivity.title.narratives[0].text}}
                            </td>
                            <td class="col-sm-3">
                                {{providerActivity.reporting_organisations[0].narratives[0].text}}
                            </td>
                            <td class="col-sm-3">
                                {{providerActivity.iati_identifier}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit rsr" ng-if="vm.rsrLoading || vm.rsrProjects.length">
                <h3>Akvo Really Simple Reporting (RSR)</h3>
                <p>
                    The following RSR projects are funded by this OpenaidNL activity.
                </p>
                <div class="row" ng-if="vm.rsrLoading">
                    <div class="svg-loader">
                        <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                    </div>
                </div>
            </div>

            <div class="hp-block wit" ng-if="!vm.providedActivities.length && !vm.rsrLoading && !vm.rsrProjects.length">
                <h3>Third-party data</h3>
                No third-party data available.
            </div>



        </div>

        <div 
            class="activity-list-item col-sm-12" 
            ng-show="vm.rsrProjects.length != 0"
            ng-repeat="item in vm.rsrProjects">

            <div class="row">
                <div class="col-sm-12">
                    <div class="hp-block wit header">
                        <div class="row">
                            <div class="col-sm-2">

                                <img ng-src="http://rsr.akvo.org{{item.current_image.thumbnails.map_thumb}}">
                            </div>
                            <div class="col-sm-10">
                                <h2>
                                    <a target="_blank" ng-href="http://rsr.akvo.org/en/project/{{item.id}}/">
                                        {{ item.title }}
                                    </a>
                                </h2>
                                <p>{{item.project_plan_summary}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.selectedTab == 'form'">
        <div class="col-md-12 form-wrap">
            <div class="hp-block wit">
                <h3>Questions about this project?</h3>
                <p>If you have a question or complaint about this project, or if you would like to report fraud, please contact the openaidNL team. They will handle your questions or reports with the highest confidentiality. Don't hesitate to contact us by filling out the form below. Your data will be transmitted using a secure connection. We aim to respond within two working days.</p>
            </div>
            
            <div class="hp-block wit form">
                <div class="row" ng-if="vm.submitted == false">
                    <div class="col-md-10">
                        <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                            <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
                                <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
                            </formly-form>
                        </form>
                    </div>
                </div>
                <p ng-if="vm.submitted == true"><b>Thank you for your message. We will be in touch shortly.</b></p>
                <p ng-if="vm.error == true"><b style="color:#b30000;">Something seems to have gone wrong. Send us a note on info@zimmermanzimmerman.nl if the problem persists.</b></p>
            </div>

            <div class="hp-block wit">
                <p>The openaidNL team, run by Zimmerman & Zimmerman, will process your contact form. Your personal details will only be used to respond to your message and will not be kept any longer than necessary.</p>
            </div>

                
        </div>
    </div>

</div>


