<div id="main-content" class="container activity">
   
    <div class="row">
        <div class="col-xs-9">
            <h1 class="title">{{vm.activity.title.narratives[0].text}}</h1>
        </div>
         <!-- <detail-filter-bar 
            activity-id="vm.activityId" 
            current-page="activity">
        </detail-filter-bar> -->
    </div>

    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>

    <div class="row full-report" ng-show="!vm.isDGISProject">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h5>
                <b>Disclaimer</b>: The data for this page has been produced from IATI data reported by {{vm.activity.reporting_organisations[0].narratives[0].text}}. Please contact them if you have any questions about their data. This page might not show all their data appropriately since this page is made to show data reported by the Dutch Ministry of Foreign Affairs (DGIS).
                </h5>
            </div>
        </div>
    </div>

    <div class="row full-report" ng-show="vm.selectedTab == 'partners' && vm.providedActivities.length">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h5>
                <b>Disclaimer</b>: The data for this table has been produced from IATI data reported by other organisations. Those organisations reported {{vm.activity.title.narratives[0].text}} as provider of 1 or more transactions.
                </h5>
            </div>
        </div>
    </div>
    
    <div ng-show="vm.selectedTab == 'summary'">

        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>

        <div class="row summary-report">

            <div class="col-md-8">

                <div class="hp-block wit">
                    <h3>Description</h3>
                    <p>{{vm.activity.descriptions[0].narratives[0].text}}</p>
                </div>

                <div class="hp-block wit with-table">
                    <h3>Project details</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="200">Planned start date:</td>
                                <td>{{vm.start_planned.length ? vm.start_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Planned end date:</td>
                                <td>{{vm.end_planned.length ? vm.end_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Countries:</td>
                                <td>
                                    <a ng-repeat="recipient_country in vm.activity.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code })">{{recipient_country.country.name}}{{$last ? '' : ', '}}</a>
                                    <span ng-if='vm.activity.recipient_countries.length == 0'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Regions:</td>
                                <td>
                                    <a ng-repeat="recipient_region in vm.activity.recipient_regions" ui-sref="region({ region_id: recipient_region.region.code })">{{recipient_region.region.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_regions.length == 0'>No data available</span>
                                    <span ng-if='vm.activity.regions.length == 0'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Sectors:</td>
                                <td>
                                    <a ng-repeat="recipient_sector in vm.activity.sectors" ui-sref="sector({ sector_id: recipient_sector.sector.code })">
                                        {{recipient_sector.sector.name}}{{$last ? '' : ', '}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Estimated budget:</td>
                                <td>
                                    <span ng-if='vm.activity.aggregations.activity.budget_value'>{{vm.activity.aggregations.activity.budget_value | shortcurrency :'€'}}</span>
                                    <span ng-if='!vm.activity.aggregations.activity.budget_value'>No data available</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Implementing organisation(s):</td>
                                <td><span ng-repeat='org in vm.implementing_organisations'><a ui-sref="organisation({ organisation_id: org.narratives[0].text })">{{org.narratives[0].text}}</a>{{$last ? '' : ', '}}</span></td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{vm.activity.activity_status.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">

                <div class="hp-block wit with-table">
                    <h3>Information</h3>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td width="120">IATI identifier:</td>
                                <td>{{vm.activity.iati_identifier}}</td>
                            </tr>
                            <tr>
                                <td>Last update:</td>
                                <td>{{vm.activity.last_updated_datetime | date : 'dd MMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="hp-block wit with-table">
                    <h3>Export & share</h3>
                    <table class="table table-striped share">
                        <tbody>
                            <tr>
                                <td width="120">Download:</td>
                                <td>
                                    <a ng-click="vm.download('csv')" class="dld">
                                        <i class="fa fa-file-excel-o"></i>CSV
                                    </a>
                                    <!-- <a ng-click="vm.download('xml')" class="dld">                  
                                        <i class="fa fa-file-text-o"></i>XML
                                    </a> -->
                                    <a ng-click="vm.download('json')" class="dld">
                                        <i class="fa fa-file-code-o"></i>JSON
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <a ng-href="http://twitter.com/home?status={{vm.shareDescription}}" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
                                    </span>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <a ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
                                    </span>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <a ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  

            </div>
        </div>
    </div>

    <!-- voor op transacties page -->
    <div class="row" ng-if="vm.selectedTab == 'transactions'">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h3>Transactions</h3>
                <nvd3 
                    options="vm.transactionChartOptions" 
                    data="vm.transactionChartData" 
                    class="with-3d-shadow with-transitions"></nvd3>
            </div>  
        </div>

        <div class="col-md-6 activity-list-item">
            <div class="hp-block wit financial extra">
                <h3>Disbursements</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receiving organisation</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.transactionData | orderBy:'transaction_date'" ng-if="transaction.transaction_type.code == '3'">
                            <td>{{transaction.transaction_date | date : 'dd MMM yyyy'}}</td>
                            <td>{{transaction.receiver_organisation.narratives[0].text}}</td>
                            <td>{{transaction.value | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 activity-list-item">
            <div class="hp-block wit financial extra">
                <h3>Commitments</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receiving organisation</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.transactionData | orderBy:'transaction_date'" ng-if="transaction.transaction_type.code == '2'">
                            <td>{{transaction.transaction_date | date : 'dd MMM yyyy'}}</td>
                            <td>{{transaction.receiver_organisation.narratives[0].text}}</td>
                            <td>{{transaction.value | shortcurrency :'€'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>

    <div class="row full-report" ng-if="vm.selectedTab == 'fullreport'">
        <div class="col-sm-12">

            <div class="hp-block wit with-table">
                <h3>Dates & description</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td width="250">IATI identifier:</td>
                            <td>{{vm.activity.iati_identifier}}</td>
                        </tr>
                        <tr>
                            <td>Other identifiers:</td>
                            <td>
                                <a ng-repeat="other_identifier in vm.activity.other_identifier">
                                    {{other_identifier.name}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{vm.activity.title.narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{vm.activity.descriptions[0].narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Last update:</td>
                            <td>{{vm.activity.last_updated_datetime | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date planned:</td>
                            <td>{{vm.start_planned.length ? vm.start_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date actual:</td>
                            <td>{{vm.start_actual.length ? vm.start_actual : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date planned:</td>
                            <td>{{vm.end_planned.length ? vm.end_planned : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date actual:</td>
                            <td>{{vm.end_actual.length ? vm.end_actual : 'No data available' | date : 'dd MMM yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Related organisations & details</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Reporting organisations:</td>
                            <td>{{vm.activity.reporting_organisations[0].narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Funding organisations:</td>
                            <td><span ng-repeat='org in vm.funding_organisations'><a ui-sref="organisation({ organisation_id: org.narratives[0].text })">{{org.narratives[0].text}}</a>{{$last ? '' : ', '}}</span></td>
                        </tr>
                        <tr>
                            <td>Accountable organisations:</td>
                            <td><span ng-repeat='org in vm.accountable_organisations'><a ui-sref="organisation({ organisation_id: org.narratives[0].text })">{{org.narratives[0].text}}</a>{{$last ? '' : ', '}}</span></td>
                        </tr>
                        <tr>
                            <td>Extending organisations:</td>
                            <td><span ng-repeat='org in vm.extending_organisations'><a ui-sref="organisation({ organisation_id: org.narratives[0].text })">{{org.narratives[0].text}}</a>{{$last ? '' : ', '}}</span></td>
                        </tr>
                        <tr>
                            <td>Implementing organisations:</td>
                            <td><span ng-repeat='org in vm.implementing_organisations'><a ui-sref="organisation({ organisation_id: org.narratives[0].text })">{{org.narratives[0].text}}</a>{{$last ? '' : ', '}}</span></td>
                        </tr>
                        <tr>
                            <td>Tied status:</td>
                            <td>
                                <span ng-if='vm.activity.default_tied_status.name.length'>{{vm.activity.default_tied_status.name}}</span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Collaboration type:</td>
                            <td>
                                <span ng-if='vm.activity.collaboration_type.name.length'>{{vm.activity.collaboration_type.name}}</span>
                                <span ng-if='!vm.activity.collaboration_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Aid type:</td>
                            <td>
                                <span ng-if='vm.activity.default_aid_type.name.length'>{{vm.activity.default_aid_type.name}}</span>
                                <span ng-if='!vm.activity.default_aid_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Hierarchy:</td>
                            <td>
                                <span ng-if='vm.activity.hierarchy'>{{vm.activity.hierarchy}}</span>
                                <span ng-if='!vm.activity.hierarchy'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Activity details</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Status:</td>
                            <td>{{vm.activity.activity_status.name}}</td>
                        </tr>
                        <tr>
                            <td width="250">Scope:</td>
                            <td>
                                <span ng-if='vm.activity.activity_scope.name.length'>{{vm.activity.activity_scope.name}}</span>
                                <span ng-if='!vm.activity.activity_scope.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Related activities:</td>
                            <td>
                                <a ng-repeat="act in vm.activity.related_activities">
                                    {{act.id}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Linked data URI:</td>
                            <td>
                                <span ng-if='vm.activity.linked_data_uri.length'>{{vm.activity.linked_data_uri}}</span>
                                <span ng-if='!vm.activity.linked_data_uri.length'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Locations & sectors</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Countries:</td>
                            <td><a ng-repeat="recipient_country in vm.activity.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code })">{{recipient_country.country.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_countries.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Regions:</td>
                            <td>
                                <a ng-repeat="recipient_region in vm.activity.recipient_regions" ui-sref="region({ region_id: recipient_region.region.code })">{{recipient_region.region.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_regions.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Locations:</td>
                            <td>
                                <span ng-repeat="location in vm.activity.locations" >
                                    {{location.name[0].narratives[0].text}},
                                </span>
                                <span ng-if='vm.activity.locations.length == 0'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Sectors:</td>
                            <td><a ng-repeat="recipient_sector in vm.activity.sectors" ui-sref="sector({ sector_id: recipient_sector.sector.code })">
                                        {{recipient_sector.sector.name}}{{$last ? '' : ', '}}
                                    </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table">
                <h3>Financial information</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td width="250">Estimated budget:</td>
                            <td>
                                <span ng-if='vm.activity.aggregations.activity.budget_value'> {{vm.activity.aggregations.activity.budget_value | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.activity.aggregations.activity.budget_value'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Capital spent:</td>
                            <td>
                                <span ng-if='vm.activity.capital_spend.name.length'>{{vm.activity.capital_spend.percentage}}</span>
                                <span ng-if='!vm.activity.capital_spend.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Finance type:</td>
                            <td>
                                <span ng-if='vm.activity.default_finance_type.name.length'>{{vm.activity.default_finance_type.name}}</span>
                                <span ng-if='!vm.activity.default_finance_type.name.length'>No data available</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Flow type:</td>
                            <td>
                                <span ng-if='vm.activity.default_flow_type.name.length'>{{vm.activity.default_flow_type.name}}</span>
                                <span ng-if='!vm.activity.default_flow_type.name.length'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="hp-block wit with-table triple">
                <h3>Policy markers</h3>
                <table class="table table-striped vertical-border">
                    <thead>
                        <tr>
                            <th>Marker</th>
                            <th width="160" class="text-center">Principal objective</th>
                            <th width="160" class="text-center">Significant objective</th>
                            <th width="160" class="text-center">Not targeted</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr ng-repeat="marker in vm.activity.policy_markers">
                            <td>{{marker.narratives[0].text}}</td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 2"><i class="fa fa-check"></i></span>
                            </td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 1"><i class="fa fa-check"></i></span>
                            </td>
                            <td class="text-center">
                                <span ng-if="marker.significance.code == 0"><i class="fa fa-check"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="hp-block wit with-table triple">
                <h3>Results</h3>
                <table class="table table-striped">
                     <tbody>
                        <tr>
                            <td>
                                <a ng-repeat="result in vm.activity.results">
                                    {{result.name}}
                                </a>
                                <span ng-if='vm.activity.results.length == 0'>No data available</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- voor op documenten page -->
    <div class="row" ng-show="vm.selectedTab == 'documents'">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h3>Document links</h3>

                <div ng-show="vm.activity.document_links.length == 0">
                    No documents available.
                </div>
                <table class="table documents" ng-if="vm.activity.documents.length != 0">
                    <tbody>
                        <tr ng-repeat="document in vm.activity.document_links">
                            
                            <td>
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title[0].narratives[0].text}}
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row full-report" ng-show="vm.selectedTab == 'partners'">
        <div class="col-sm-12">



            <div class="hp-block wit with-table triple">
                    <h3>Partner activities</h3>
                    <h5 style="padding: 0 15px 12px 15px;" ng-if="!vm.providedActivities.length">No partner activities found in IATI data.</h4>
                    <table class="table table-striped vertical-border" ng-if="vm.providedActivities.length">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Reporting organisation</th>
                                <th>IATI identifier</th>
                            </tr>
                        </thead>
                         <tbody>

                            <tr ng-repeat="providerActivity in vm.providedActivities">
                            
                                <td class="col-sm-6">
                                <a ui-sref="activity({ activity_id: providerActivity.iati_identifier, tab: 'summary' })">
                                    {{providerActivity.title.narratives[0].text}}
                                    </a>
                                </td>
                                <td class="col-sm-3">
                                    {{providerActivity.reporting_organisations[0].narratives[0].text}}
                                </td>
                                <td class="col-sm-3">
                                    {{providerActivity.iati_identifier}}
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.selectedTab == 'form'">
        <div class="col-md-12 form-wrap">
            <div class="hp-block wit">
                <h3>Questions about this project?</h3>
                <p>If you have a question or complaint about this project, or if you would like to report fraud, please contact the openaidNL team. They will handle your questions or reports with the highest confidentiality. Don't hesitate to contact us by filling out the form below. Your data will be transmitted using a secure connection. We aim to respond within two working days.</p>
            </div>
            
            <div class="hp-block wit form">
                <div class="row" ng-if="vm.submitted == false">
                    <div class="col-md-10">
                        <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                            <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
                                <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
                            </formly-form>
                        </form>
                    </div>
                </div>
                <p ng-if="vm.submitted == true"><b>Thank you for your message. We will be in touch shortly.</b></p>
                <p ng-if="vm.error == true"><b style="color:#b30000;">Something seems to have gone wrong. Send us a note on info@zimmermanzimmerman.nl if the problem persists.</b></p>
            </div>

            <div class="hp-block wit">
                <p>The openaidNL team, run by Zimmerman & Zimmerman, will process your contact form. Your personal details will only be used to respond to your message and will not be kept any longer than necessary.</p>
            </div>

                
        </div>
    </div>

</div>


