<div class="explore-block-content row">
    <div class="col-md-12" ng-show="vm.activities.length == 0">
        <div class="svg-loader">
            <img src="{{templateBaseUrl}}/images/spinning-circles.svg" width="70" alt="">
        </div>
    </div>
    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-sm-4">
                    resultaten X - X van X
                </div>
                <div class="col-sm-8 text-right-not-xs">
                    <span class="sort-item hidden-xs">sorteer op:</span>
                    <span class="sort-item">budget<span class="glyphicon glyphicon-resize-vertical"></span></span>
                    <span class="sort-item">startdatum<span class="glyphicon glyphicon-resize-vertical"></span></span>
                    <span class="sort-item">regio<span class="glyphicon glyphicon-resize-vertical"></span></span>
                    <span class="sort-item">land<span class="glyphicon glyphicon-resize-vertical"></span></span>
                </div> 
            </div>
        </div>
    </div>
    <div class="activity-list-item" 
        ng-show="vm.activities.length != 0"
        dir-paginate="item in vm.activities | itemsPerPage: 10"  
        pagination-id="activityList"
        total-items="vm.totalActivities" 
        current-page="vm.pagination.current">
            <div class="col-md-12">
                <div class="hp-block">
                    <a ui-sref="activiteit({ activity_id: item.id })"></a>
                    <div class="expand">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-share fa-stack-1x fa-share"></i>
                        </span>
                    </div>
                    <h1>{{ item.titles[0].title }}</h1>
                    <p><b>Land:</b> </p>
                    <p><b>Sector:</b></p>
                    <p><b>Budget:</b> </p>
                    <p><b>Startdatum:</b> {{ item.start_actual }}</p>
                </div>
            </div>
    </div>
    <div class="col-md-12 text-center pag">
        <dir-pagination-controls 
        pagination-id="activityList" 
        on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>