<div class="explore-block-content row">

    <div class="col-md-12">
        <div class="sort wit">
            <div class="row">
                <div class="col-xs-4">
                    resultaten {{vm.minMaxShown()}} van {{vm.totalActivities}}
                </div>
                <div class="col-xs-8 text-right-not-xs">
                    <span class="sort-item hidden-xs">sorteer op:</span>
                    <span class="sort-item" ng-click="vm.toggleOrder('total_budget')">budget<span class="glyphicon glyphicon-resize-vertical"></span></span>
                    <span class="sort-item" ng-click="vm.toggleOrder('start_actual')">startdatum<span class="glyphicon glyphicon-resize-vertical"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="activity-list-item col-sm-12" 
            ng-show="vm.activities.length != 0"
            dir-paginate="item in vm.activities | itemsPerPage: 5"  
            pagination-id="activityList"
            total-items="vm.totalActivities" 
            current-page="vm.pagination.current">
                <div class="col-md-12">
                    <div class="hp-block wit header">
                        <h2><a ui-sref="activiteit({ activity_id: item.id })">{{ item.titles[0].title }}</a></h2>
                        <p>{{item.descriptions[0].description}}</p>
                    </div>
                    <div class="hp-block wit">
                        <div class="row">
                            <div class="col-md-4">
                                <p><b>Budget</b><br>
                                    <span ng-if='item.total_budget.length'>{{item.total_budget | shortcurrency :'€'}}</span>
                                    <span ng-if='!item.total_budget.length'>Niet beschikbaar</span>
                                </p>
                                <p><b>Land</b><br>
                                    <a ui-sref="country({'country_id': country.code})" ng-repeat="country in item.countries">
                                        {{ country.name }}
                                    </a>
                                    <span ng-show='!item.countries.length'>Niet beschikbaar</span>
                                </p>
                                <p><b>Regio</b><br>
                                    <a ui-sref="region({'region_id': region.code})" ng-repeat="region in item.regions">
                                        {{ region.name }}
                                    </a>
                                    <span ng-show='!item.regions.length'>Niet beschikbaar</span>
                                </p>
                                <p><b>Sector</b><br>
                                    <a ui-sref="sector({'sector_id': sector.code})" ng-repeat="sector in item.sectors">
                                        {{ sector.name }}
                                    </a>
                                    <span ng-show='!item.sectors.length'>Niet beschikbaar</span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p><b>Status</b><br>{{item.activity_status.name}}</p> 
                                <p><b>Startdatum</b><br>
                                    {{item.start_actual.length ? item.start_actual : 'Niet beschikbaar'}}
                                </p>
                                <p><b>Einddatum</b><br>
                                    {{item.end_actual.length ? item.end_actual : 'Niet beschikbaar'}}
                                </p> 
                            </div>
                            <div class="col-md-4">
                                <p><b>Rapporterende organisatie</b><br>{{item.reporting_organisation.name}}</p> 
                                <p><b>IATI identifier</b><br>{{item.iati_identifier}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-12 text-center pag">
        <dir-pagination-controls 
        pagination-id="activityList" 
        on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>