<div id="main-content" class="container activity">
    <detail-filter-bar 
        activity-id="vm.activityId" 
        current-page="activity"></detail-filter-bar>
    
    <div class="row">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h1>{{vm.activity.titles[0].title}}</h1>
                <p>{{vm.activity.descriptions[0].description}}</p>
            </div>
        </div>
    </div>

    <sub-navbar 
        tabs='vm.tabs' 
        selected-tab='vm.selectedTab'>
    </sub-navbar>

    
    <div ng-show="vm.selectedTab == 'samenvatting'">

        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>

        <div class="row">

            <!-- start linker kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>IATI identifier</b><br>{{vm.activity.iati_identifier}}</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Laatste update</b><br>{{vm.activity.last_updated_datetime | date : 'd MMM yyyy'}}</p>
                            <p><b>Startdatum</b><br>{{vm.activity.start_actual.length ? vm.activity.start_actual : 'No data available' | date : 'd MMM yyyy'}}</p>
                            <p><b>Einddatum</b><br>{{vm.activity.end_actual.length ? vm.activity.end_actual : 'No data available' | date : 'd MMM yyyy'}}</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Samenwerkingsverband</b><br>
                                <span ng-if='vm.activity.collaboration_type.name.length'>{{vm.activity.collaboration_type.name}}</span>
                                <span ng-if='!vm.activity.collaboration_type.name.length'>No data available</span>
                            </p>
                            <p><b>Type hulp</b><br>
                                <span ng-if='vm.activity.default_aid_type.name.length'>{{vm.activity.default_aid_type.name}}</span>
                                <span ng-if='!vm.activity.default_aid_type.name.length'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Website</b><br>{{vm.activity.websites.length ? vm.activity.websites[0].url : 'No data available'}}</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>
            <!-- eind linker kolom -->

            <!-- start midden kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Status</b><br>{{vm.activity.activity_status.name}}</p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Budget</b><br>
                                <span ng-if='vm.activity.total_budget.length'>{{vm.activity.total_budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.activity.total_budget.length'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Financieringstype</b><br>
                                <span ng-if='vm.activity.default_finance_type.name.length'>{{vm.activity.default_finance_type.name}}</span>
                                <span ng-if='!vm.activity.default_finance_type.name.length'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Flow type</b><br>
                                <span ng-if='vm.activity.default_flow_type.name.length'>{{vm.activity.default_flow_type.name}}</span>
                                <span ng-if='!vm.activity.default_flow_type.name.length'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Tied status</b><br>
                                <span ng-if='vm.activity.default_tied_status.name.length'>{{vm.activity.default_tied_status.name}}</span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p><b>Rapporterende organisatie</b><br>{{vm.activity.reporting_organisation.name}}</p>
                            <p><b>Deelnemende organisaties</b><br><span ng-repeat='org in vm.activity.participating_organisations'>{{org.name}}, </span></p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>
            <!-- eind midden kolom -->

            <!-- start rechter kolom -->
            <div class="col-md-4">

                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit">
                            <p>
                                <b>Land</b><br>
                                <a ng-repeat="country in vm.activity.countries" ui-sref="country({ country_id: country.code })">
                                    {{country.name}}
                                </a>
                                <span ng-if='vm.activity.countries.length == 0'>No data available</span>
                            </p>

                            <p>
                                <b>Regio</b><br>
                                <a ng-repeat="region in vm.activity.regions" ui-sref="region({ region_id: region.code })">
                                    {{region.name}}
                                </a>
                                <span ng-if='vm.activity.regions.length == 0'>No data available</span>
                            </p>

                            <p>
                                <b>Locations</b><br>
                                <span ng-repeat="location in vm.activity.locations" >
                                    {{location.name}},
                                </span>
                                <span ng-if='vm.activity.locations.length == 0'>No data available</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <p><b>Sector</b><br><a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].name}}</a></p>
                            <p><b>Sector code</b><br><a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].code}}</a></p>
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->
                <!--start van een wit blokje -->
                <div class="row">
                    <div class="col-sm-12 activity-list-item">
                        <div class="hp-block wit" ng-click="vm.dashboard = 'list'">
                            <b>Policy Markers</b>
                            <ul ng-if='vm.activity.policy_markers.length != 0'>
                                <li ng-repeat="marker in vm.activity.policy_markers">
                                {{marker.name}}
                                </li>
                            </ul>
                            <span ng-if='vm.activity.policy_markers.length == 0'>No data available</span>
                            
                        </div>
                    </div>
                </div>
                <!-- eind van een wit blokje -->

            </div>
            <!-- eind rechter kolom -->
        </div>
    </div>


    <!-- voor op transacties page -->
    <div class="row" ng-if="vm.selectedTab == 'transactions'">
        <div class="col-sm-12">
            <div class="hp-block wit">
                <h3>Transacties</h3>
                <nvd3 options="vm.transactionChartOptions" data="vm.transactionData" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </div>
    </div>


    <!-- voor op documenten page -->
    <div class="row" ng-show="vm.selectedTab == 'documents'">
        <div class="col-md-12">
            <div class="hp-block wit">
                <h3>Documenten</h3>

                <div ng-show="vm.activity.documents.length == 0">
                    Geen documenten beschikbaar.
                </div>

                <table class="table documents">
                    <tbody>
                        <tr ng-repeat="document in vm.activity.documents">
                            
                            <td>
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col-md-12">
            <div class="hp-block finance">
                <h3>Financieel overzicht</h3>

                <nvd3 options="vm.transactionChartOptions" data="vm.transactionData" class="with-3d-shadow with-transitions"></nvd3>

                <table class="table">
                    <thead>
                        <td>Transactie type</td>
                        <td>Verstrekkende organisatie</td>
                        <td>Ontvangende organisatie</td>
                        <td>Bedrag</td>
                        <td>Datum</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in vm.activity.transactions">
                            <td>
                                {{transaction.transaction_type}}
                            </td>
                            <td>
                                {{transaction.provider_organisation_name}}
                            </td>
                            <td>
                                {{transaction.receiver_organisation_name}}
                            </td>
                            <td>
                                {{transaction.value | openaidcurrency :'€':0:".":"."}}
                            </td>
                            <td>
                                {{transaction.transaction_date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->


   <!--  <div class="row" ng-show="vm.showDetails == true">
        <div class="col-md-12">
            <div class="hp-block">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="(key, value) in vm.activity">
                            <td>
                                {{key}}
                            </td>
                            <td>
                                {{value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>


