<div class="explore-block-content row">

    <div class="col-md-12">
        <div class="sort">
            <div class="row">
                <div class="col-xs-6">
                    <div class="result-count">
                        Results <span class="badge"> {{vm.totalActivities}}</span>
                    </div>

                    <social current-page='activities'></social>

                </div>
                <div class="col-xs-6 text-right">
<!--                     <label class="wrapper">
                      <div class="custom-select ff-hack"> -->
                        <select
                          ng-model="vm.order_by"
                          ng-change="vm.toggleOrder()">
                          <option value="planned_start_date">Planned start date (increasing)</option>
                          <option value="-planned_start_date">Planned end date (decreasing)</option>
                          <option value="activity_budget_value">Budget (increasing)</option>
                          <option value="-activity_budget_value">Budget (decreasing)</option>
                        </select>
<!--                       </div>
                    </label>
                    <span class="result-count sortby">Sort by:</span> -->
                </div>
            </div>
        </div>
    </div>

    <div ng-if='vm.loading == true' class="col-sm-12">
        <div class="hp-block wit">
            <h3 class="loader"><img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="25"> Fetching data, please wait...</h3>
        </div>
    </div>

    <div ng-if='vm.totalActivities == 0 && vm.loading == false' class="col-sm-12">
        <div class="hp-block wit">
            <h2>Nothing found</h2>
            <p ng-if="vm.searchPage == false">Please select some different filters.</p>
            <p ng-if="vm.searchPage == true">Please try some different keywords.</p>
        </div>
    </div>

    <div class="row" infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1'>
        <div class="activity-list-item col-sm-12" 
            ng-show="vm.activities.length != 0"
            ng-repeat="item in vm.activities">
                <div class="col-md-12">
                    <div class="hp-block wit header">
                        <h2><a ui-sref="activity({ activity_id: item.id })">{{ item.title.narratives[0].text }}</a></h2>
                        <p>{{item.descriptions[0].narratives[0].text}}</p>
                    </div>
                    <div class="hp-block wit">
                        <div class="row">
                            <div class="col-md-4">
                                <p><b>Estimated budget</b><br>
                                    <span ng-if='item.aggregations.activity.budget_value'>
                                        {{item.aggregations.activity.budget_value | shortcurrency :'€'}}
                                    </span>
                                    <span ng-if='!item.aggregations.activity.budget_value'>No data available</span>
                                </p>
                                <p><b>Country</b><br>
                                    <a ng-repeat="recipient_country in item.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code })">
                                        {{recipient_country.country.name}}{{$last ? '' : ', '}}
                                    </a>
                                    <span ng-show='!item.recipient_countries.length'>No data available</span>
                                </p>
                                <p class="hidden-xs"><b>Region</b><br>
                                    <a ng-repeat="recipient_region in item.recipient_regions" ui-sref="region({ region_id: recipient_region.region.code })">
                                        {{recipient_region.region.name}}{{$last ? '' : ', '}}
                                    </a>
                                    <span ng-show='!item.recipient_regions.length'>No data available</span>
                                </p>
                                <p class="hidden-xs"><b>Sector</b><br>
                                    <a ng-repeat="recipient_sector in item.sectors" ui-sref="sector({ sector_id: recipient_sector.sector.code })">
                                        {{recipient_sector.sector.name}}{{$last ? '' : ', '}}
                                    </a>

                                    <span ng-show='!item.sectors.length'>No data available</span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="hidden-xs"><b>Status</b><br>{{item.activity_status.name}}</p> 
                                <p><b>Planned start</b><br>
                                    <span 
                                        ng-repeat="activity_date in item.activity_dates" 
                                        ng-if="activity_date.type.code == '1'">
                                        {{activity_date.iso_date | date : 'dd-MM-yyyy'}}
                                    </span>
                                </p>
                                <p class="hidden-xs"><b>End date planned</b><br>
                                    <span 
                                        ng-repeat="activity_date in item.activity_dates" 
                                        ng-if="activity_date.type.code == '3'">
                                        {{activity_date.iso_date | date : 'dd-MM-yyyy'}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4 hidden-xs">
                                <p><b>Reporting organisation</b><br>{{item.reporting_organisations[0].narratives[0].text}}</p> 
                                <p><b>IATI identifier</b><br>{{item.iati_identifier}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div ng-if='vm.busy == true && vm.loading == false' class="col-sm-12">
        <div class="hp-block wit">
            <h3 class="loader"><img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="25"> Fetching more data, please wait...</h3>
        </div>
    </div>

</div>