<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">

            <filter-bar 
                views="[{'id':'locations-map', 'name': 'Bekijk op kaart & lijst'}, {'id':'locations', 'name': 'Bekijk visualisatie'}]"
                current-page="countries"></filter-bar>

            <locations-geo-map geo-view="vm.geoView" map-height="600px" map-legend='true'></locations-geo-map>

            <country-list ng-show="vm.geoView == 'countries'"></country-list>
            
            <region-list ng-show="vm.geoView == 'regions'"></region-list>

        </div>
    </div>
</div>
