<div id="main-content" class="container">

    <filter-bar 
        current-page="countries"
        views="[{'id':'locations', 'name': 'Bekijk visualisatie'}, {'id':'locations-map', 'name': 'Bekijk op kaart & lijst'}, {'id':'locations-polygonmap', 'name': 'Bekijk op kaart'}]"></filter-bar>

    <!-- <top-navbar 
        views="[{'id':'locations', 'name': 'Bekijk visualisatie'}, {'id':'locations-map', 'name': 'Bekijk op kaart & lijst'}, {'id':'locations-polygonmap', 'name': 'Bekijk op kaart'}]"
        search-value="vm.searchValue"
        submit-search="vm.submitSearch"></top-navbar> -->

    <div class="row">
        <div class="col-md-12">
            <div class="spec clearfix">

                <div class="row">
                    <div class="col-md-8 col-centered">
                
                        <h1 class="text-center no-top">Uitgaven ontwikkelingssamenwerking Buitenlandse Zaken</h1>
                    </div>
                </div>
                
                <div class="locaties-visualisation">

                    <div class="checkboxes">

                        <div class="checkbox">
                            <label class="switch">
                                <input type="checkbox" checklist-value="item" ng-model="checked3" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                                <span class="ng-binding">Directe uitgaven</span>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label class="switch">
                                <input type="checkbox" checklist-value="item" ng-model="checked2" class="ng-scope ng-pristine ng-untouched ng-valid"><i></i>
                                <span class="ng-binding">Indirecte uitgaven</span>
                            </label>
                        </div>

                    </div>

                    <geo-visualisation 
                        refresh-visualisation="vm.refreshVisualisation" 
                        formatted-data="vm.visualisationData">
                    </geo-visualisation>
                </div>
            </div>
        </div>
    </div>
</div>
