<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">

            <filter-bar 
                views="[{'id':'locations-polygonmap', 'name': 'Bekijk op kaart'}, {'id':'locations', 'name': 'Bekijk visualisatie'}, {'id':'locations-map', 'name': 'Bekijk op kaart & lijst'}]"
                current-page="countries"></filter-bar>

           <!--  <top-navbar 
                
                search-value="vm.searchValue"
                submit-search="vm.submitSearch"></top-navbar>

 -->        polygonen view -> in progress
 
            <div class="map">
              <div class="geomap-mask">
                <leaflet center="vm.center" geojson="vm.geojsonData" height="600px" width="100%"></leaflet>
              </div>
            </div>
        </div>
    </div>
</div>

