<div class="row">
	<div class="col-sm-4">
		Terug naar locaties 
		<span class="fa-stack fa-lg">
	    	<i class="fa fa-circle fa-stack-2x"></i>
	    	<i class="fa fa-list fa-stack-1x fa-inverse"></i>
	    </span>
	</div>
	<div class="col-sm-4">
		Download als CSV 
		<span class="fa-stack fa-lg">
	    	<i class="fa fa-circle fa-stack-2x"></i>
	    	<i class="fa fa-download fa-stack-1x fa-inverse"></i>
	    </span>
	</div>
	<div class="col-sm-4 social">
		<span class="fa-stack fa-lg">
	    	<i class="fa fa-circle fa-stack-2x"></i>
	    	<a ng-click="vm.share('twitter')" class="fa fa-twitter fa-stack-1x fa-inverse"></a>
	    </span>
	    <span class="fa-stack fa-lg">
	    	<i class="fa fa-circle fa-stack-2x"></i>
	    	<a ng-click="vm.share('linkedin')" class="fa fa-linkedin fa-stack-1x fa-inverse"></a>
	    </span>
	    <span class="fa-stack fa-lg">
	    	<i class="fa fa-circle fa-stack-2x"></i>
	   		<a ng-click="vm.share('facebook')" class="fa fa-facebook fa-stack-1x fa-inverse"></a>
	   	</span>
	</div>
</div>