<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">

            <div ncy-breadcrumb></div>

            <search-box></search-box>

            <div class="row actions">
                <div class="col-md-6 col-sm-7 filters">
                    <span class="makeblock">filters</span> 

                    <span 
                        class="fa-stack fa-lg" 
                        ng-click="vm.toggleOpenPanel('recipient_countries')" 
                        ng-class="{'active': vm.isOpenedHeader('recipient_countries')}"
                        ng-mouseover="vm.hoverIn('recipient_countries')" 
                        ng-mouseleave="vm.hoverOut('recipient_countries')">
                      <div 
                        class="glyphicon-popup" 
                        ng-show="vm.buttonTexts['recipient_countries'].hoverShow" 
                        ng-bind-html="vm.currentHoverText"></div>
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>

                    <span class="fa-stack fa-lg" 
                    ng-click="vm.toggleOpenPanel('recipient_regions')" 
                    ng-class="{'active': vm.isOpenedHeader('recipient_regions')}"
                    ng-mouseover="vm.hoverIn('recipient_regions')" 
                    ng-mouseleave="vm.hoverOut('recipient_regions')">
                        <div 
                            class="glyphicon-popup" 
                            ng-show="vm.buttonTexts['recipient_regions'].hoverShow" 
                            ng-bind-html="vm.currentHoverText"></div>

                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="ic ic-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('budget')" ng-class="{'active': vm.isOpenedHeader('budget')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('sectors')" ng-class="{'active': vm.isOpenedHeader('sectors')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('activity_status')" ng-class="{'active': vm.isOpenedHeader('activity_status')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('implementing_organisations')" ng-class="{'active': vm.isOpenedHeader('implementing_organisations')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-6 col-sm-5 dash text-right-not-xs">
                    <span class="makeblock">dashboards</span> 
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('charts')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('geomap')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="ic ic-map fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('list')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
            
            <tool-bar></tool-bar>

            <div class="row">
                <div class="col-xs-12">
                    <div class="rel">
                        <filter-panel-recipient-countries ng-show="vm.isOpenedHeader('recipient_countries')"></filter-panel-recipient-countries>
                        <filter-panel-recipient-regions ng-show="vm.isOpenedHeader('recipient_regions')"></filter-panel-recipient-regions>
                        <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
                        <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
                        <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
                        <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('implementing_organisations')"></filter-panel-implementing-organisations>
                    </div>
                </div>
            </div>

            <oipa-total-figures-chart aggregation-filters='vm.selectionString'></oipa-total-figures-chart>

            <div class="row">
                <div class="col-md-12">
                    <explore-geo-map></explore-geo-map>
                </div>
            </div>
  
        </div>
    </div>
    
</div>
