<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">

            <div ncy-breadcrumb></div>

        	<search-box></search-box>

            <div class="row actions">
                <div class="col-md-6 col-sm-7 filters">
                    <span class="makeblock">filters</span> 
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('recipient_countries')" ng-class="{'active': vm.isOpenedHeader('recipient_countries')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('recipient_regions')" ng-class="{'active': vm.isOpenedHeader('recipient_regions')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="ic ic-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('budget')" ng-class="{'active': vm.isOpenedHeader('budget')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('sectors')" ng-class="{'active': vm.isOpenedHeader('sectors')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('activity_status')" ng-class="{'active': vm.isOpenedHeader('activity_status')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.toggleOpenPanel('implementing_organisations')" ng-class="{'active': vm.isOpenedHeader('implementing_organisations')}">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-6 col-sm-5 dash text-right-not-xs">
                    <span class="makeblock">dashboards</span> 
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('charts')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('geomap')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="ic ic-map fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg" ng-click="vm.setDashboard('list')">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>

            <hr>
            
            <tool-bar></tool-bar>

            <div class="row">
                <div class="col-xs-12">
                    <div class="rel">
                        <filter-panel-recipient-countries ng-show="vm.isOpenedHeader('recipient_countries')"></filter-panel-recipient-countries>
                        <filter-panel-recipient-regions ng-show="vm.isOpenedHeader('recipient_regions')"></filter-panel-recipient-regions>
                        <filter-panel-budget ng-show="vm.isOpenedHeader('budget')"></filter-panel-budget>
                        <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')"></filter-panel-sectors>
                        <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')"></filter-panel-activity-status>
                        <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('implementing_organisations')"></filter-panel-implementing-organisations>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="hp-block groen">
                        <h3>Totaal aantal activiteiten</h3>
                        <span class="number">5497</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hp-block roze">
                        <h3>Totale budget</h3>
                        <span class="number">€ 29.289.024.646</span>
                    </div>
                </div>
            </div>

        	<div class="row" ng-show="vm.dashboard == 'charts'">

        		<div class="col-md-6">
                    <div class="hp-block explore">
                        <div class="explore-block-header">Totaal aantal activiteiten</div>
                        <div class="explore-block-content">
                            <oipa-line-chart 
                                aggregation-filters='vm.selectionString' 
                                group-by='start_actual' 
                                group-by-id='start_actual_year' 
                                aggregation-key='iati-identifier' 
                                aggregation-key-id='activity_count' 
                                chart-x-axis='Jaar (startdatum)' 
                                chart-y-axis='Aantal activiteiten'
                                chart-type='historicalBarChart'
                                axis-label-distance='10'></oipa-line-chart>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="hp-block explore">
                        <div class="explore-block-header">Totaal budget op basis van de zoekresulaten</div>
                        <div class="explore-block-content">
                            <oipa-line-chart 
                                aggregation-filters='vm.selectionString' 
                                group-by='transaction_date_year' 
                                group-by-id='transaction_date_year' 
                                group-by-name='transaction_date_year' 
                                aggregation-key='disbursement' 
                                aggregation-key-id='total_disbursements' 
                                chart-x-axis='' 
                                chart-y-axis='Totaal budget'
                                chart-type='discreteBarChart'
                                axis-label-distance='40'></oipa-line-chart>
                        </div>
                    </div>
                </div>

        		<div class="col-md-6">
                    <div class="hp-block explore">
                        <div class="explore-block-header">Uitgaven  per landenprofiel</div>
                        <div class="explore-block-content">
                            <oipa-line-chart 
                                aggregation-filters='vm.selectionString' 
                                group-by='recipient-country' 
                                group-by-id='country_id' 
                                group-by-name='name' 
                                aggregation-key='disbursement' 
                                aggregation-key-id='total_disbursements' 
                                chart-x-axis='Landprofiel' 
                                chart-y-axis='Uitgaven'
                                chart-type='discreteBarChart'
                                mapping='partnerlanden'
                                axis-label-distance='40'></oipa-line-chart>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="hp-block explore">
                        <div class="explore-block-header">Aangegane verplichting per landenprofiel</div>
                        <div class="explore-block-content">
                            <oipa-line-chart 
                                aggregation-filters='vm.selectionString' 
                                group-by='recipient-country' 
                                group-by-id='country_id' 
                                group-by-name='name' 
                                aggregation-key='commitment' 
                                aggregation-key-id='total_commitments' 
                                chart-x-axis='Landprofiel' 
                                chart-y-axis='Verplichtingen'
                                chart-type='discreteBarChart'
                                mapping='partnerlanden' 
                                axis-label-distance='40'></oipa-line-chart>
                        </div>
                    </div>
                </div>

        	</div>

            <div class="row" ng-show="vm.dashboard == 'geomap'">
                <div class="col-md-12">
                    <explore-geo-map></explore-geo-map>
                </div>
            </div>

            <div class="row" ng-show="vm.dashboard == 'list'">
                <div class="col-md-12">
                    <activity-list></activity-list>
                </div>
            </div>
  
        </div>
    </div>
    
</div>
