<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">

            <div ncy-breadcrumb></div>

        	<search-box></search-box>

            <div class="row">
                <div class="col-md-6">
                    <div style="display: inline-block; float: left;">
                        filters 
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="display: inline-block; float: right;">
                        dashboards 
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                        <i class="glyphicon glyphicon-map-marker glyphicon-tristan-custom<replace>"></i>
                    </div>
                </div>
            </div>

        	<tool-bar></tool-bar>
            
            <filter-bar></filter-bar>

        	<div class="row" ng-show="vm.dashboard == 'charts'">
        		<div class="col-md-6">

                    <activities-explore-block></activities-explore-block>
        			<!-- <sector-explore-block></sector-explore-block> -->

                    <div class="explore-block-header">Uitgaven per landenprofiel</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">Uitgaven per kanaal</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">Gendergelijkheid per sector</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">PDGG uitgaven per sector</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>
                    
        		</div>
        		<div class="col-md-6">

                    <div class="explore-block-header">Totaal budget</div>
                    <div class="explore-block-count">€ 29.289.024.646</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">Aangegane verplichtingen per landenprofiel</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">Uitgaven per kanaal per regio</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">Gender uitgaven per kanaal</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>

                    <div class="explore-block-header">PDGG uitgaven per kanaal</div>
                    <div class="explore-block-content">
                        <oipa-line-chart 
                            aggregation-filters='' 
                            group-by='transaction_date_year' 
                            group-by-id='transaction_date_year' 
                            aggregation-key='disbursement' 
                            aggregation-key-id='total_disbursements' 
                            chart-x-axis='' 
                            chart-y-axis='Totaal budget'
                            chart-type='historicalBarChart'
                            axis-label-distance='10'></oipa-line-chart>
                    </div>


                    <!-- <countries-explore-block></countries-explore-block>
                    <implementing-organisations-type-explore-block></implementing-organisations-type-explore-block>
                    <implementing-organisations-explore-block></implementing-organisations-explore-block> -->

        		</div>
        	</div>

            <div class="row" ng-show="vm.dashboard == 'geomap'">
                <div class="col-md-12">
                    <geomap></geomap>
                </div>
            </div>

            <div class="row" ng-show="vm.dashboard == 'list'">
                <div class="col-md-12">
                    <activity-list></activity-list>
                </div>
            </div>
  
        </div>
    </div>
    
</div>
