<div id="main-content" class="container" ng-controller="IndexController as vm">
  <div class="row">
    <div class="col-md-12">
      
      	<p class="main-placeholder">"Wat is openaid" placeholder</p>

      

        <div id="main-visualisation-wrapper" class="white-background" ng-class="{ 'filters-closed' : vm.hasOpenFilters() }">

        <tabs-partial></tabs-partial>        

      </div> 

      <p class="main-placeholder">"Wat is IATI" placeholder</p>

      <p class="main-placeholder">"IATI tools" placeholder</p>

      

    </div>
  </div>
</div>

