<div class="navbar navbar-default" ng-controller="NavbarController as vm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ homeUrl }}">
        <img src="{{templateBaseUrl}}/images/openaidnl-logo.png" />
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="home">Home</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="iati-explorer">IATI explorer</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="landen">Landen</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="organisaties">Ontvangende organisaties</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="sectoren">Sectoren</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="iati-publiceren">IATI publiceren</a></li>
      <li ui-sref-active="active"><a class="btn btn-default" ui-sref="over">Over deze portal</a></li>
    </ul>
  </div>
</div>