<div class="map-holder">
  <div class="legend">
    <h3>Partnerlanden</h3>
    <div class="check" dir-paginate="item in vm.countryRelation | itemsPerPage: 10">
      <input id="{{item}}" checklist-model="vm.selectedCountryRelation" checklist-value="item" type="checkbox">
      <label for="{{item}}">{{item}}</label>
    </div>
  </div>

  <div class="map">
    <h3>
      IATI activiteiten kaart Nederland
    </h3>

    <div class="info">

      <img src="">

      <h4>Afghanistan</h4>

      <b>Activiteiten:</b> 341<br>

    </div>

    <div class="geomap-mask">  
      <leaflet defaults="vm.defaults" center="vm.center" markers="vm.markers" height="600px" width="100%"></leaflet>
    </div>

    <h4>
      Klik op een land voor meer informatie
    </h4>

  </div>
</div>

<div class="row">
        <div class="col-md-12">
            <div class="hp-block">
                <div class="row title">
                    <div class="col-md-12">
                        <a class="glyphicon glyphicon-info-sign" ng-mouseover="hoverIn('landen')" ng-mouseleave="hoverOut('landen')">
                        </a>
                        <div 
                        class="glyphicon-popup" 
                        ng-show="vm.customFields['landen'].hoverShow" 
                        ng-bind-html="vm.customFields['landen']['text']">
                        </div>
                        <h2 class="with-glyph">Top 5 landen</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <oipa-table-chart 
                        aggregation-filters='&order_by=-total_disbursements&limit=5' 
                        group-by='recipient-country' 
                        group-by-id='country_id' 
                        aggregation-key='disbursement' 
                        aggregation-extra-select='iati-identifier'
                        aggregation-extra-select-in='countries__in'
                        ></oipa-table-chart>
                    </div>
                    <div class="col-md-6">
                        <oipa-line-chart 
                            aggregation-filters='&countries__in=ID,BD,AF,MZ,ET' 
                            group-by='recipient-country,transaction_date_year' 
                            group-by-id='country_id' 
                            aggregation-key='disbursement' 
                            chart-x-axis='Tijd' 
                            chart-y-axis='Totale uitgaven'
                            chart-type='lineChart'
                            axis-label-distance='28'></oipa-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>


