<div class="col-md-12">
  <div style="position: absolute;top: 0;left: 0; margin-left: 15px; width: 250px;height: auto; z-index: 999999;">

      <div class="legend">
          Partnerlanden
          <div class="checkbox" dir-paginate="item in vm.countryRelation | itemsPerPage: 10">
              <label>
                  <input checklist-model="vm.selectedCountryRelation" checklist-value="item" type="checkbox" class="js-switch" ui-switch> {{item}}
              </label>
          </div>
      </div>
  </div>
</div>
<div class="col-md-12" style="text-align: center;padding: 10px 0 20px;background-color: rgba(41,171,226,0.15);">
    <h3>
        IATI activiteiten kaart Nederland
    </h3>
</div>

<div class="col-md-12" style="text-align: center;background-color: rgba(41,171,226,0.15);">
  
  <div style="
  position: absolute; 
  background-color: rgba(255,255,255,0.9); 
  display: inline-block; 
  width: 250px;
  height: 250px; 
  border-radius: 250px;
  text-align: center;
  left: 50%;
  top: -20px;
  margin-left: 180px;
  z-index: 999999">

              Afghanistan<br>

              <b>Activiteiten:</b> 341<br>

          </div>

    <div class="geomap-mask"  
    style="-webkit-clip-path: circle(300px at center);
          -moz-clip-path: circle(300px at center);
          -ms-clip-path: circle(300px at center);
          clip-path: circle(300px at center);
          height:600px;
          width: 600px;
          display: inline-block;
          overflow: hidden;
          background-color: rgba(41,171,226,0.85);">  


          <leaflet defaults="vm.defaults" center="vm.center" markers="vm.markers" height="600px" width="100%"></leaflet>
    </div>
</div>
<div class="col-md-12" style="text-align: center;padding: 10px 0 20px;background-color: rgba(41,171,226,0.15);">
    <h3>
        Klik op een land voor meer informatie
    </h3>
</div>


<div class="row">
        <div class="col-md-12">
            <div class="hp-block">
                <div class="row title">
                    <div class="col-md-12">
                        <a class="glyphicon glyphicon-info-sign" ng-mouseover="hoverIn('landen')" ng-mouseleave="hoverOut('landen')">
                        </a>
                        <div 
                        class="glyphicon-popup" 
                        ng-show="vm.customFields['landen'].hoverShow" 
                        ng-bind-html="vm.customFields['landen']['text']">
                        </div>
                        <h2 class="with-glyph">Top 5 landen</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <oipa-table-chart 
                        aggregation-filters='&order_by=-total_disbursements&limit=5' 
                        group-by='recipient-country' 
                        group-by-id='country_id' 
                        aggregation-key='disbursement' 
                        aggregation-extra-select='iati-identifier'
                        aggregation-extra-select-in='countries__in'
                        ></oipa-table-chart>
                    </div>
                    <div class="col-md-6">
                        <oipa-line-chart 
                            aggregation-filters='&countries__in=ID,BD,AF,MZ,ET' 
                            group-by='recipient-country,transaction_date_year' 
                            group-by-id='country_id' 
                            aggregation-key='disbursement' 
                            chart-x-axis='Tijd' 
                            chart-y-axis='Totale uitgaven'
                            chart-type='lineChart'
                            axis-label-distance='28'></oipa-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>


